<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{if isset($head['title'])} {$head['title']} - {/if}鱼头网</title>
    <meta name="Keywords" content="{$head['keywords']??''}，鱼头网">
    <meta name="Description" content="{$head['description']??''}，鱼头网">
    {include file="layout/rel" /}
    <!--[if IE]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    {include file="layout/data" /}
    {include file="layout/head" /}

    {__CONTENT__}

    {include file="layout/footer" /}
</body>
</html>