<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{if $head['title']} {$head['title']} - {/if}鱼头网 - 提供彩票足球电竞等竞猜资讯服务</title>
    <meta name="Keywords" content="鱼头网,{$head['keywords']??''}">
    <meta name="Description" content="{$head['description']??''}">
    {include file="layout/rel" /}
    <!--[if IE]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="min-width: 1068px;">
    {include file="layout/data" /}
    {include file="layout/head" /}

    {__CONTENT__}

    {include file="layout/footer" /}
</body>
</html>