<div class="head-box">
    <div class="box-width box-center flex-between flex-align-stretch head-content">
        <div class="flex-between flex-align-stretch head-navigation">
            <div class="flex-start flex-align-stretch head-navigation-content">
                <div class="logo"><img src="/static/www/test/logo2.jpg"> </div>
                <ul class="flex-start">
                    <li><a href="/" {if $index == 'news' ||  $index == 'index'} class="child" {/if}>资讯</a></li>
                    <li><a href="{:urls('Forum/index')}" {if $index == 'forum'} class="child" {/if}>论坛</a></li>
                </ul>
            </div>
            <div class="search-box">
                <input type="text" name="q" placeholder="搜索" value="">
                <a href="javascript:void(0);" class="b-img" id="searchBtn" data-url="{:urls('Search/index')}"></a>
            </div>
        </div>
        <div class="head-user">
            {if $user_data}
                <div class="flex-align-center user-box">
                    <div class="user-avatar">
                        <a href="{:urls('User/index')}?user_id={$user_data['id']}">
                            <img src="{$user_data['avatar']['100']?:'/static/www/images/user_avatar.png'}" id="headUserAvatarImage">
                        </a>
                    </div>
                    <!--<div class="user-name">-->
                        <!--<a href="{:urls('User/index')}">-->
                            <!--{$user_data['name']}-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="box-hide nav-list">
                        <ul>
                            <li><a href="{:urls('User/index')}?user_id={$user_data['id']}">我的帖子</a></li>
                            <li><a href="{:urls('User/remind')}">我的消息</a></li>
                            <li><a href="{:urls('User/info')}">个人资料</a></li>
                            <li><a href="javascript:void(0);" id="logout-btn" data-url="{:urls('User/logout')}">退出登陆</a></li>
                        </ul>
                    </div>
                </div>
            {else /}
                <ul class="flex-end flex-align-stretch user-login">
                    <li><a href="javascript:void(0);" id="register-btn">注册</a></li>
                    <li><a href="javascript:void(0);" id="login-btn">登陆</a></li>
                </ul>
            {/if}
        </div>
    </div>
</div>