<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/www/css/base.css">
    <link rel="stylesheet" href="/static/www/css/index.css">
    <script src="//cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script src="/static/www/js/extend/layer/index.js"></script>
    <script src="/static/www/js/extend/plupload/index.js"></script>
    <script src="/static/www/js/extend/cookie/index.js"></script>
    <script src="/static/www/js/base.js"></script>
</head>
<body>
    {include file="layout/data" /}

    {__CONTENT__}
</body>
</html>