<link rel="stylesheet" href="/static/www/css/base.css?t=20190219">
<link rel="stylesheet" href="/static/www/css/index.css?t=20190219">
<script src="//cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<script src="/static/www/js/extend/layer/index.js"></script>
<script src="/static/www/js/extend/plupload/index.js"></script>
<script src="/static/www/js/extend/cookie/index.js"></script>
<script src="/static/www/js/extend/qrcode/index.js"></script>
<script src="/static/www/js/extend/scrollbar/index.js"></script>
<script src="/static/www/js/b.js?t=20190222"></script>