<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect="">-->
                    <!--<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"-->
                           <!--layadmin-event="serach" lay-action="template/search.html?keywords=">-->
                <!--</li>-->
                <span class="layui-nav-bar"></span>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item" lay-unselect="">
                    <a lay-href="javascript:;" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>
                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;">
                        <cite>超级管理员</cite>
                        <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="javascript:;">基本资料</a></dd>
                        <dd><a lay-href="javascript:;">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect="">
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>


        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="admin/manage/console">
                    <span>layuiAdmin</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li data-name="home" class="layui-nav-item layui-nav-itemed layui-this">
                        <a href="javascript:;" lay-href="{:url('Manage/console')}" data-name="console" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="门户资讯" lay-direction="2">
                            <i class="layui-icon layui-icon-template"></i>
                            <cite>门户资讯</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd data-name="portal-news">
                                <a href="javascript:;">资讯<span class="layui-nav-more"></span></a>
                                <dl class="layui-nav-child">
                                    <dd data-name="portal-news-category"><a lay-href="{:url('PortalNewsCategory/index')}">资讯分类</a></dd>
                                    <dd data-name="portal-news-list"><a lay-href="{:url('PortalNews/index')}">资讯管理</a></dd>
                                </dl>
                            </dd>
                            <dd data-name="portal-news-comment">
                                <a lay-href="{:url('PortalNewsComment/index')}">资讯评论</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="门户资讯" lay-direction="2">
                            <i class="layui-icon layui-icon-template"></i>
                            <cite>论坛管理</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd data-name="forum-news">
                                <a href="javascript:;">贴子<span class="layui-nav-more"></span></a>
                                <dl class="layui-nav-child">
                                    <dd data-name="forum-post-list"><a lay-href="{:url('ForumPost/index')}">帖子管理</a></dd>
                                </dl>
                            </dd>
                            <dd data-name="forum-post-comment">
                                <a lay-href="{:url('ForumPostComment/index')}">贴子评论</a>
                            </dd>
                        </dl>
                    </li>

                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="采集器" lay-direction="2">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>采集器</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">

                            <dd data-name="spider-news">
                                <a href="javascript:;">资讯<span class="layui-nav-more"></span></a>
                                <dl class="layui-nav-child">
                                    <dd data-name="spider-news-category"><a lay-href="{:url('SpiderNewsCategory/index')}">采集资讯分类</a></dd>
                                    <dd data-name="spider-news-rule"><a lay-href="{:url('SpiderNewsRule/index')}">资讯采集规则</a></dd>
                                    <dd data-name="spider-news-list"><a lay-href="{:url('SpiderNews/index')}">采集资讯管理</a></dd>
                                </dl>
                            </dd>
                            <dd data-name="spider-lottery">
                                <a href="javascript:;">彩票<span class="layui-nav-more"></span></a>
                                <dl class="layui-nav-child">
                                    <dd data-name="spider-lottery-category"><a lay-href="{:url('SpiderLotteryCategory/index')}">彩票分类</a></dd>
                                    <dd data-name="spider-lottery-rule"><a lay-href="{:url('SpiderLotteryRule/index')}">彩票采集规则</a></dd>
                                    <dd data-name="spider-lottery-list"><a lay-href="{:url('SpiderLottery/index')}">彩票开奖列表</a></dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>

                    <!--<li data-name="user" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-tips="用户" lay-direction="2">-->
                            <!--<i class="layui-icon layui-icon-user"></i>-->
                            <!--<cite>用户</cite>-->
                            <!--<span class="layui-nav-more"></span></a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<dd>-->
                                <!--<a lay-href="user/user/list.html">网站用户</a>-->
                            <!--</dd>-->
                            <!--<dd>-->
                                <!--<a lay-href="user/administrators/list.html">后台管理员</a>-->
                            <!--</dd>-->
                            <!--<dd>-->
                                <!--<a lay-href="user/administrators/role.html">角色管理</a>-->
                            <!--</dd>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="set" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-tips="设置" lay-direction="2">-->
                            <!--<i class="layui-icon layui-icon-set"></i>-->
                            <!--<cite>设置</cite>-->
                            <!--<span class="layui-nav-more"></span></a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<dd class="layui-nav-itemed">-->
                                <!--<a href="javascript:;">系统设置<span class="layui-nav-more"></span></a>-->
                                <!--<dl class="layui-nav-child">-->
                                    <!--<dd><a lay-href="set/system/website.html">网站设置</a></dd>-->
                                    <!--<dd><a lay-href="set/system/email.html">邮件服务</a></dd>-->
                                <!--</dl>-->
                            <!--</dd>-->
                            <!--<dd class="layui-nav-itemed">-->
                                <!--<a href="javascript:;">我的设置<span class="layui-nav-more"></span></a>-->
                                <!--<dl class="layui-nav-child">-->
                                    <!--<dd><a lay-href="set/user/info.html">基本资料</a></dd>-->
                                    <!--<dd><a lay-href="set/user/password.html">修改密码</a></dd>-->
                                <!--</dl>-->
                            <!--</dd>-->
                        <!--</dl>-->
                    <!--</li>-->

                    <span class="layui-nav-bar" style="top: 28px; height: 0px; opacity: 0;"></span></ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;"><span class="layui-nav-more"></span></a>
                        <dl id="closeTabDL"
                            class="layui-nav-child layui-anim-fadein layui-anim layui-anim-upbit">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                    <span class="layui-nav-bar"></span></ul>
            </div>
            <div class="layui-tab" lay-unauto="" lay-allowclose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="{:url('Manage/console')}" lay-attr="{:url('Manage/console')}" class="layui-this">
                        <i class="layui-icon layui-icon-home"></i><i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="{:url('Manage/console')}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script>
    bodyD.use(['index', 'element', 'jquery'], function () {
        var $ = jQuery = layui.$;
        $(".layui-icon-down").mouseover(function () {
            console.log("mouseover");
            $("#closeTabDL").addClass("layui-show");
        });
        $(".layui-icon-down").mouseout(function () {
            $("#closeTabDL").removeClass("layui-show");
        });
    });
</script>

<div class="layui-layer-move"></div>
