<div class="layui-fluid" id="LAY-article-category">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">分类列表</li>
                <li class="layui-form-ctrl" data-events="add" data-id="0">添加分类</li>
            </ul>
            <div class="layui-tab-content">
                <form class="layui-form" action="" id="LAY-article-category-form" lay-filter="article-category-form">
                    <div class="LAY-article-category-btns" style="margin-bottom: 10px;">
                        <button class="layui-btn layui-btn-primary layui-btn-sm" lay-submit="" lay-filter="article-category-sort">更新排序</button>
                    </div>
                    <table class="layui-table" id="LAY-article-category-table" lay-filter="article-category-table">
                        <colgroup>
                            <col width="140">
                            <col width="80">
                            <col>
                            <col width="80">
                            <col width="200">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>排序</th>
                            <th>ID</th>
                            <th>分类名称</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>{$data|raw}</tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    bodyD.use(['index', 'form', 'treeTable'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            treeTable = layui.treeTable;

        //初始化
        treeTable.init('#LAY-article-category-table');

        //事件处理
        var events = {
            del: function (othis, id) {
                var _tr = othis.parent().parent();
                layer.confirm('确定删除选中的数据吗？',{icon: 3, title:false}, function () {
                    admin.req({
                        url: '{:Url("SpiderNewsCategory/delete")}',
                        data: {
                            id: id
                        },
                        done: function (res) {
                            _tr.remove();
                            layer.msg(res.msg, {
                                icon: 1
                            });
                        }
                    });
                });
            },
            add: function (othis, id) {
                var oUrl = "{:Url('SpiderNewsCategory/add',['parent_id'=>'__id__'])}";
                oUrl = oUrl.replace('__id__', id);
                layer.open({
                    type: 2,
                    title: '添加分类',
                    content: oUrl,
                    maxmin: true,
                    area: ['720px', '500px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit');
                        //监听提交
                        iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                            admin.req({
                                url: oUrl,
                                data: data.field,
                                type: 'Post',
                                done: function (res) {
                                    layer.msg(res.msg, {
                                        icon: 1
                                    }, function() {
                                        location.reload(true);
                                    });
                                    layer.close(index); //关闭弹层
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });

            },
            edit: function (othis, id) {
                var oUrl = "{:Url('SpiderNewsCategory/edit',['id'=>'__id__'])}";
                    oUrl = oUrl.replace('__id__', id);
                layer.open({
                    type: 2,
                    title: '编辑分类',
                    content: oUrl,
                    maxmin: true,
                    area: ['720px', '500px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit');
                        //监听提交
                        iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                            admin.req({
                                url: oUrl,
                                data: data.field,
                                type: 'Post',
                                done: function (res) {
                                    layer.msg(res.msg, {
                                        icon: 1
                                    }, function() {
                                        location.reload(true);
                                    });
                                    layer.close(index); //关闭弹层
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });

            }
        };

        form.on('submit(article-category-sort)', function (data) {
            admin.req({
                url: "{:Url('SpiderNewsCategory/saveListOrders')}",
                data: data.field,
                done: function (res) {
                    layer.msg(res.msg, {
                        icon: 1
                    });
                }
            });
            return false;
        });

        $('.layui-form-ctrl, .layui-table .layui-btn').on('click', function () {
            var othis = $(this),
                thisEvent = othis.data('events'),
                id = othis.data('id');
            events[thisEvent] && events[thisEvent].call(this, othis, id);
        });

    });
</script>
