<div class="layui-fluid" id="LAY-article">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">资讯列表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-form" action="" id="LAY-article-form-search">
                    <div style="margin-bottom: 10px;">
                        <div class="layui-input-inline" style="width: 200px;">
                            <select name="category_id" lay-verify="">
                                <option value="">分类</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="status" lay-verify="">
                                <option value="">全部</option>
                                <option value="1">已转发</option>
                                <option value="0">未转发</option>
                            </select>
                        </div>
                        <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="search">查询</button>
                    </div>
                    <table class="layui-table" id="LAY-table" lay-filter="LAY-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="list-table-toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="toRelay">转发</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="look">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    bodyD.use(['index', 'form', 'table', 'util', 'laydate'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            util = layui.util;

        //form.render();
        var tableOptions = {
            elem: '#LAY-table',
            url: window.location.href,
            where: {
                category_id: '',
                status: '',
                keyword: ''
            },
            cols: [
                [{
                    checkbox: true
                },
                    {
                        field: 'category_name',
                        title: '分类',
                        width: 200,

                    },
                    {
                        field: 'title',
                        title: '标题',
                        minWidth: 200
                    },
                    {
                        field: 'source_url',
                        title: '来源地址',
                        width: 330
                    },
                    {
                        field: 'status_txt',
                        title: '转发',
                        width: 80,
//                        templet: function (d) {
//                            return (d.status == 1 ?
//                                '<span class="layui-badge layui-bg-green">已转</span> ' :
//                                '<span class="layui-badge layui-bg-gray">未转</span> ');
//                        }
                    },
                    {
                        field: 'create_time',
                        title: '采集时间',
                        width: 180
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 160,
                        align: 'center',
                        toolbar: '#list-table-toolbar'
                    }
                ]
            ],
            id: 'LayTable',
            page: true,
            limit: 15,
            limits: [15, 25, 35, 45, 55],
            height: 'full-155',
            done: function (res) {}
        };
        table.render(tableOptions);

        table.on("tool(LAY-list-table)", function (obj) {
            var data = obj.data;
            switch (obj.event)
            {
                case 'toRelay':
                    if(data.status == 1){
                        layer.msg('不能重复转发', {
                            icon: 0
                        });
                        return;
                    }
                    layer.confirm('确定转发吗？',{icon: 3, title:false}, function (index) {
                        var loadIndex = layer.load(1);
                        admin.req({
                            url: '{:Url("SpiderNews/toRelay")}',
                            data: {
                                id: data.id
                            },
                            done: function (res) {
                                if(res.code == 0){
                                    obj.update({
                                        status: 1,
                                        status_txt: '<span class="layui-badge layui-bg-green">已转</span>'
                                    });
                                    layer.close(index);
                                    layer.close(loadIndex);
                                    return;
                                }
                                layer.msg(res.msg, {
                                    icon: 0
                                });
                            }
                        });
                    });

                    break;
                case 'look':
                    window.open(
                        data.source_url,
                        '_blank', 'toolbar=no,scrollbars=no,menubar=no,status=no');
                    return false;
                    break;
                case 'del':
                    layer.confirm('确定删除选中的数据吗？',{icon: 3, title:false}, function () {
                        admin.req({
                            url: '{:Url("SpiderNews/delete")}',
                            data: {
                                id: data.id
                            },
                            done: function (res) {
                                obj.del();
                                layer.msg(res.msg, {
                                    icon: 1
                                });
                            }
                        });
                    });
                    break;
            }
        });

        //事件处理
        var events = {

        };

        $('.layui-tab-title .layui-form-ctrl').on('click', function() {
            var othis = $(this),
                thisEvent = othis.data('events');
            events[thisEvent] && events[thisEvent].call(this, othis);
        });

        form.on('submit(search)', function (data) {
            tableOptions.where = data.field;
            table.reload('LayTable', tableOptions);
            return false;
        });

    });
</script>
