<div id="login-box" class="login-register-box">
    <div class="title">鱼头网登录</div>
    <div class="login-content">
        <div class="tips">验证即登录，未注册则自动创建新账号</div>
        <ul>
            <li class="border phone">
                <input type="text" name="phone" placeholder="手机号">
                <span class="flex-center flex-align-center"><i class="b-img"></i></span>
            </li>
            <li class="flex-between flex-align-stretch verification">
                <input type="text" name="code" placeholder="输入验证码">
                <a href="javascript:void(0);" id="sendVerification" data-send="0" data-url="{:urls('user/sendSms')}">验证码</a>
            </li>
            <li class="border">
                <button id="login-register-btn">登陆</button>
            </li>
            <li class="quick-register">
                <a href="{:urls('user/register')}">快速注册</a>
            </li>
        </ul>
        <div class="quick-list">
            <span class="quick-title">第三方登录</span>
            <ul class="flex-center flex-align-stretch">
                <li><a href="javascript:void(0);" data-url="{:urls('User/jump')}?type=qq" data-type="top" class="b-img qq">QQ</a></li>
                <li><a href="javascript:void(0);" data-url="{:urls('User/jump')}?type=weixin" data-type="self" class="b-img wechat">微信</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function($) {
        $(".quick-list a").on('click', function () {
            var oThis = $(this);
            var oUrl = oThis.data('url');
            if(oThis.data('type') == 'top'){
                top.location = oUrl;
                return;
            }
            self.location = oUrl;

        });
    })
</script>