/*用户信息*/
.forum-box .forum-item .user-box{
    margin: 10px 40px;
}
.forum-box .forum-item .user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.forum-box .forum-item .user-avatar img{
    width: 100%;
}
.forum-box .forum-item .user-info{
    margin-left: 20px;
}
.forum-box .forum-item .user-info .name{
    font-size: 18px;
    font-weight: bolder;
    line-height: 35px;
}
.forum-box .forum-item .user-info .fabulous-number{
    font-size: 12px;
    line-height: 15px;
}

.forum-box .forum-item .follow-btn a{
    display: block;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #169bd5;
    padding: 8px 15px;
    border-radius: 5px;
}
.forum-box .forum-item .follow-btn a.active{
    background-color: #8c8c8c;
}


/*标题*/
.forum-box .forum-item .title{
    text-align: center;
    margin: 15px 30px;
    font-size: 20px;
    font-weight: bolder;
}

/*发布时间*/
.forum-box .forum-item .item-date{
    margin-top: 30px;
    font-size: 14px;
    color: #8c8c8c;
}

/*属性*/
.forum-box .forum-item .end{
    padding: 35px 0px;
}
.forum-box .forum-item .end-l i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../images/common.png") -150px -70px;
}
.forum-box .forum-item .attr{
    /*margin-right: 30px;*/
    font-size: 12px;
    font-weight: bolder;
}
.forum-box .forum-item .end-l .attr a{
    margin-right: 20px;
}
.forum-box .forum-item .end-l .attr a:last-child{
    margin-right: 0px;
}
.forum-box .forum-item .end-l .fabulous{
    background-color: rgb(255, 237, 166);
    border-radius: 5px;
    padding: 3px 10px;
    color: #999999;
}
.forum-box .forum-item .end-l .fabulous i{
    background-position: 0px -190px;
}
.forum-box .forum-item .end-l .comment i{
    background-position: -25px -190px;
}
.forum-box .forum-item .end-l .collection i{
    background-position: -50px -190px;
}

.forum-box .forum-item .share{
    margin-left: 50px;
}
.forum-box .forum-item .share-list{
    margin-left: 8px;
}
.forum-box .forum-item .share-list a{
    margin: 0px 2px;
}
.forum-box .forum-item .share-h i{
    background-position: -75px -190px;
}
.forum-box .forum-item .qq i{
    background-position: -100px -190px;
}
.forum-box .forum-item .wechat i{
    background-position: -125px -190px;
}
.forum-box .forum-item .more i{
    background-position: -50px -70px;
}

/*评论*/

/*评论列表*/
.forum-box .forum-item-comment{
    margin-top: 30px;
}
.forum-box .forum-item-comment .comment-tab{
    border-bottom: #e4e4e4 solid 1px;
}
.forum-box .forum-item-comment .comment-tab ul{
    height: 35px;

}
.forum-box .forum-item-comment .comment-tab li.last, .forum-box .forum-item-comment .comment-tab li.number{
    margin-left: 20px;
}
.forum-box .forum-item-comment .comment-tab li.last a, .forum-box .forum-item-comment .comment-tab li.number a{
    color: #bbbbbb;
}
.forum-box .forum-item-comment .comment-tab li.number a{
    font-weight: normal;
}
.forum-box .forum-item-comment .comment-tab a{
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    text-decoration: none;
    box-sizing: content-box;
}
.forum-box .forum-item-comment .comment-tab i{
    bottom: 1px;
    width: 100%;
    height: 4px;
    background-color: #ffcc00;
    position: absolute;
}

/*评论*/
.forum-box .forum-item-comment .comment-list-box{
    margin-left: 15px;
}
.forum-box .forum-item-comment .comment-list-inline{
    border-top: #F2F2F2 solid 1px;
    margin-top: 20px;
    padding-top: 15px;
}
.forum-box .forum-item-comment .comment-list-inline:first-child{
    border-top: #F2F2F2 solid 0px;
    margin-top: 0px;
}
.forum-box .forum-item-comment .comment-list-box li{
    position: relative;
}
.forum-box .forum-item-comment .comment-list-box li a.comment-reply{
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #00a0e9;
    margin-top: -25px;
    right: 15px;
    position: absolute;
}
.forum-box .forum-item-comment .comment-list-box li .hide-btn{
    display: none;
}
.forum-box .forum-item-comment .comment-list-box li:hover a.comment-reply{
    display: block;
}
.forum-box .forum-item-comment .comment-list-box li:hover .hide-btn{
    display: flex;
}
.forum-box .forum-item-comment .comment-user span{
    margin-right: 10px;
}
.forum-box .forum-item-comment .comment-user .user-avatar{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}
.forum-box .forum-item-comment .comment-user .user-avatar img{
    width: 100%;
}
.forum-box .forum-item-comment .comment-user .user-name{
    font-size: 14px;
    font-weight: bolder;
}
.forum-box .forum-item-comment .comment-user .txt{
    font-size: 12px;
    color: #bdbdbd;
}
.forum-box .forum-item-comment .comment-user .to-day{
    font-size: 12px;
    color: #bdbdbd;
}
.forum-box .forum-item-comment .comment-info .comment-attr{

}

.forum-box .forum-item-comment .comment-info .comment-attr i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../images/common.png");
}
.forum-box .forum-item-comment .comment-info .comment-attr .inline{
    margin-right: 15px;
}
.forum-box .forum-item-comment .comment-info .comment-attr i.top{
    background-position: -100px -70px;
}
.forum-box .forum-item-comment .comment-info .comment-attr i.tread{
    background-position: -75px -70px;
}
.forum-box .forum-item-comment .comment-info .comment-attr i.more{
    background-position: -50px -70px;
}

.forum-box .forum-item-comment .comment-content{
    margin-top: 4px;
    margin-left: 40px;
    margin-right: 80px;
    font-size: 14px;
    line-height: 30px;
}

/*评论回复 重写样式*/
.forum-box .forum-item-comment .comment-list-box .comment-reply-list{
    margin-top: 30px;
    margin-left: 40px;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: #F2F2F2 solid 1px;
    border-radius: 5px;
}
.forum-box .forum-item-comment .comment-list-box .comment-reply-list li{
    border-bottom: #F2F2F2 solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.forum-box .forum-item-comment .comment-list-box .comment-reply-list li:first-child{
    padding-top: 0px;
}
.forum-box .forum-item-comment .comment-list-box .comment-reply-list li:last-child{
    border-bottom: #F2F2F2 solid 0px;
}
/*评论*/
.forum-item-comment-post{
    margin: 10px 45px 10px 0px;
}

/*回复评论*/
#reply-comment-post{
    margin-top: 15px;
    margin-left: 40px;
    height: 35px;
}
#reply-comment-post .input ,.forum-item-comment-post .input{
    flex-grow: 1;
    border: #e4e4e4 solid 1px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: relative;
}
#reply-comment-post .input .expr, .forum-item-comment-post .input .expr{
    width: 30px;
    margin-left: -1px;
}
#reply-comment-post .input .expr i, .forum-item-comment-post .input .expr i{
    width: 25px;
    height: 25px;
    background: #FFFFFF url("../images/common.png") -25px -70px;
}
#reply-comment-post .input input, .forum-item-comment-post .input input{
    flex-grow: 1;
    text-indent: 10px;
    padding-right:1px;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
    /*background-color: #00F7DE;*/

}
#reply-comment-post .submit, .forum-item-comment-post .submit {
    width: 60px;
    margin-left: 10px;
    background-color: #00a0e9;
    border-radius: 5px;
}
#reply-comment-post .submit a, .forum-item-comment-post .submit a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
}

/*加载更多*/
.forum-box .load-more{
    text-align: center;
    margin-top: 30px;
    border-bottom: #ffcc00 solid 3px;
}
.forum-box .load-more .loading{
    margin-bottom: 30px;
}
.forum-box .load-more a{
    display: block;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color: #999999;
    background-color: #f2f2f2;
}

