.user-head{
    margin: 25px auto;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;
    position: relative;
}
.user-head .user-head-l{
    width: 60%;
    padding: 15px;
}
.user-head .user-head-r{
    width: 40%;
    padding: 15px;
}

.user-head .user-avatar{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 15px;
}
.user-head .user-avatar img{
    width: 100%;
}

.user-head .user-attr{
    margin-left: 35px;
    flex-grow: 1;
}
.user-head .user-attr a{
    font-size: 16px;
    color: #0C0C0C;
}
.user-head .user-attr .attr-top {
    height: 50%;
    margin-top: 5px;
}
.user-head .user-attr .user-name{
    font-size: 20px;
    font-weight: bolder;
}
.user-head .my-attr{
    margin-left: 20px;
}
.user-head .my-attr a{
    margin: 0px 10px;
}
.user-head .my-attr i ,.user-head .edit i,.notice i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: -25px -225px;
}
.user-head .user-attr .fans i{
    background-position: -50px -225px;
}

.user-head .attr-bottom a{
    margin-right: 25px;
    text-align: center;
}
.user-head .attr-bottom a:nth-child(2){
    padding-right: 25px;
    border-right: #e4e4e4 solid 1px;
}
.user-head .attr-bottom a p{
    color: #8c8c8c;
    font-size: 14px;
}

.user-head .edit{
    position: absolute;
    left: 8px;
    top: 8px;
}
.user-head .edit i{
    background-position: 0px -225px;
}

/*对外展示*/
.user-head .user-head-l.my-home{
    display: block;
    width: 100%;
    padding: 35px;
}
.user-head .user-head-l.my-home .user-avatar{
    margin: 0px auto;
    width: 200px;
    height: 200px;
}
.user-head .user-head-l.my-home .user-attr{
    margin-top: 25px;
    margin-left: 0px;
}
.user-head .user-head-l.my-home .attr-bottom{
    margin-top: 25px;
}
.user-head .edit.back i{
    background-position: -125px -225px;
}





/*公告*/
.notice{
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 35px;
}
.notice .h{
    margin-left: 8px;
}
.notice .list-content{
    flex-grow: 1;
}
.notice i{
    background-position: -75px -225px;
}

.notice .my-home i{
    background-position: -100px -225px;
}



/*其他*/
.tab-box{
    min-height: 600px;
    margin-top: 25px;
    margin-bottom: 35px;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;
}
.tab-box .tab-box-l{
    width: 200px;
    border-right: #e4e4e4 solid 1px;
}
.tab-box .tab-box-r{
    width: 837px;
    /*flex-grow: ;*/
}
.tab-box .tab-box-l li{
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.tab-box .tab-box-l a{
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.tab-box .tab-box-l a i{
    font-size: 16px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 1px;
    background-color: #e4e4e4;
    background-position: center 0px;
}
.tab-box .tab-box-l a.active i{
    height: 10px;
    background-color: #FFFFFF;
    background-position: center bottom;
}


/**收藏**/
.tab-box .collect-tab{
    margin: 0px 20px;
    border-bottom: #CCCCCC solid 1px;
}
.tab-box .collect-tab ul{
    height: 45px;
    margin-left: 35px;
}
.tab-box .collect-tab li{
    line-height: 45px;
    margin: 0px 20px;
}
.tab-box .collect-tab li a{
    display: block;
    min-width: 50px;
    height: 100%;
    font-size: 16px;
    color: #666666;
    font-weight: bolder;
    text-align: center;
    position: relative;
    text-decoration:none;
}
.tab-box .collect-tab li a i{
    display: none;
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: #FFCC00;
}
.tab-box .collect-tab li.child a{
    color: #0C0C0C;
}
.tab-box .collect-tab li.child a i{
    display: block;
}


.tab-box .collect-content{

}
.tab-box .collect-content ul{
    width: 760px;
    margin: 0px 35px;
}

/*加载更多*/
.tab-box .collect-content .load-more{
    text-align: center;
    margin-top: 30px;
    border-bottom: #ffcc00 solid 0px;
}
.tab-box .collect-content .load-more .loading{
    margin-bottom: 30px;
}
.tab-box .collect-content .load-more a{
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #999999;
    background-color: #f2f2f2;
}

/*收藏资讯*/
.tab-box .collect-content .news-list li{
    padding: 20px 80px 20px 0px;
    border-bottom: #CCCCCC dashed 1px;
}
.tab-box .collect-content .news-list li:last-child{
    border-bottom: 0px;
}
.tab-box .collect-content .news-list .image{
    margin-right: 15px;
    min-height: 150px;
}
.tab-box .collect-content .news-list .item-content{
    flex-grow: 2;
    position: relative;
}
.tab-box .collect-content .news-list .item-content a.delBtn{
    position: absolute;
    display: inline-block;
    width:80px;
    text-align: center;
    top: 0px;
    left:100%;
    font-size: 14px;
}
.tab-box .collect-content .news-list .item-content .title{
    font-size: 16px;
    font-weight: bolder;
}
.tab-box .collect-content .news-list .item-content .description{
    color: #999999;
    font-size: 14px;
    margin-top: 10px;
}
.tab-box .collect-content .news-list .item-content .info{
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
    line-height: 25px;
    color: #999999;
}
.tab-box .collect-content .news-list .item-content .info .inline{
    margin-right: 20px;
}
.tab-box .collect-content .news-list .item-content .info-r .inline{
    margin-right: 10px;
}
.tab-box .collect-content .news-list .item-content .info-l .inline:last-child{
    margin-right: 0px;
}
.tab-box .collect-content .news-list .item-content .info-r i{
    display: inline-block;
    width: 25px;
    height: 25px;
}
.tab-box .collect-content .news-list .item-content .read i{
    background-position: -150px -70px;
}
.tab-box .collect-content .news-list .item-content .comment i{
    background-position: right -70px;
}
.tab-box .collect-content .news-list .item-content .collection i{
    background-position: -125px -70px;
}

/*收藏帖子列表*/

.tab-box .collect-content .post-list li{
    position: relative;
    padding: 20px 80px 0px 0px;
    border-bottom: #e4e4e4 dashed 1px;
}
.tab-box .collect-content .post-list li:last-child{
    /*border-bottom: 0px;*/
}
.tab-box .collect-content .post-list li a.delBtn{
    position: absolute;
    display: inline-block;
    width:80px;
    text-align: center;
    top: 20px;
    right: 0px;
    font-size: 14px;
}
.tab-box .collect-content .post-list .title{
    font-size: 16px;
    font-weight: bolder;
    flex-grow: 1;
}
.tab-box .collect-content .post-list .title a{
    color: #0C0C0C;
}
.tab-box .collect-content .post-list .read i,.tab-box .collect-content .post-list .end-l i{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: -150px -70px;
}
.tab-box .collect-content .post-list .read{
    margin-left: 40px;
    margin-right: 10px;
    color: #999999;
}
.tab-box .collect-content .post-list .content {
    margin-top: 10px;
    font-size: 14px;
}
.tab-box .collect-content .post-list .content-text a.look-all{
    color: #169bd5;
}
.tab-box .collect-content .post-list .content-text a.look-all i{
    display: inline-block;
    width: 15px;
    height: 10px;
    background-position: -15px -215px;
}


.tab-box .collect-content .post-list .content-images{
    margin-top: 15px;
}
.tab-box .collect-content .post-list .content-images p{
    width: 30%;
    max-height: 128px;
    overflow: hidden;
    line-height: 0px;
    margin-right: 10px;
}
.tab-box .collect-content .post-list .content-all{
    margin:25px 0px;
}
.tab-box .collect-content .post-list .content-body{
    margin:25px 0px;
}

.tab-box .collect-content .post-list .content-body img{
    max-width: 670px;
}

.tab-box .collect-content .post-list .content-all a.look-no{
    color: #169bd5;
}
.tab-box .collect-content .post-list .content-all a.look-no i{
    display: inline-block;
    width: 15px;
    height: 10px;
    background-position: 0px -215px;
}
.tab-box .collect-content .post-list .content-all-end .date{
    color: #7a7a7a;
}

.tab-box .collect-content .post-list .content-images p:last-child{
    margin-right: 0px;
}
.tab-box .collect-content .post-list .content-images p img{
    width: 100%;
}

.tab-box .collect-content .post-list .end{
    padding: 8px 0px;
}
.tab-box .collect-content .post-list .end-l .attr{
    /*margin-right: 30px;*/
    font-size: 12px;
    font-weight: bolder;
}
.tab-box .collect-content .post-list .end-l .attr a{
    margin-right: 20px;
}
.tab-box .collect-content .post-list .end-l .attr a:last-child{
    margin-right: 0px;
}
.tab-box .collect-content .post-list .end-l .fabulous{
    background-color: rgb(255, 237, 166);
    border-radius: 5px;
    padding: 3px 10px;
    color: #999999;
}
.tab-box .collect-content .post-list .end-l .fabulous i{
    background-position: 0px -190px;
}
.tab-box .collect-content .post-list .end-l .comment i{
    background-position: -25px -190px;
}
.tab-box .collect-content .post-list .end-l .collection i{
    background-position: -50px -190px;
}

.tab-box .collect-content .post-list .share{
    margin-left: 40px;
}
.tab-box .collect-content .post-list .share-list{
    margin-left: 8px;
}
.tab-box .collect-content .post-list .share-list a{
    margin: 0px 2px;
}
.tab-box .collect-content .post-list .share-h i{
    background-position: -75px -190px;
}
.tab-box .collect-content .post-list .qq i{
    background-position: -100px -190px;
}
.tab-box .collect-content .post-list .wechat i{
    background-position: -125px -190px;
}
.tab-box .collect-content .post-list .sina i{
    background-position: -150px -190px;
}
.tab-box .collect-content .post-list .douban i{
    background-position: -175px -190px;
}
.tab-box .collect-content .post-list .more i{
    background-position: -50px -70px;
}
.tab-box .collect-content .post-list .date{
    margin-left: 20px;
    font-size: 14px;
    color: #999999;
}
.tab-box .collect-content .post-list .end-r{
    margin-right: 10px;
}
.tab-box .collect-content .post-list .user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.tab-box .collect-content .post-list .user-avatar img{
    width: 100%;
    height: 100%;
}


.tab-box .collect-content .post-list .user-name{
    margin-left: 8px;
    font-size: 14px;
}
























/*基本资料*/
.info-box{
    margin-top: 35px;
    padding: 25px 0px;
    margin-bottom: 45px;
    border-radius: 5px;
    border: #e4e4e4 solid 1px;

}
.info-box .info-box-l{
    padding-left: 50px;
    width: 200px;
}
.info-box .info-box-r{
    margin-left: 55px;
    margin-right: 35px;
    flex-grow: 1;
}

.info-box .info-box-l .user-avatar{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.info-box .info-box-l .user-avatar img{
    width: 100%;
}
.info-box .info-box-l .user-avatar .uploadAvatar{
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height:  50%;
    background-color: rgba(0,0,0, 0.3);
}
.info-box .info-box-l .user-avatar .uploadAvatar i{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-position: right -35px;
}
.info-box .info-box-l .user-avatar:hover .uploadAvatar{
    display: flex;
}
.info-box .info-box-l .nav{
    padding-top: 40px;
    min-height: 400px;
    border-right: #e4e4e4 solid 1px;
}
.info-box .info-box-l .nav ul{
    width: 150px;
}
.info-box .info-box-l .nav li{
    height: 35px;
    text-align: center;
}
.info-box .info-box-l .nav li a{
    font-size: 14px;
    color: #0C0C0C;
}
.info-box .info-box-l .nav li a.active{
    color: #0066FF;
}
.info-box .info-box-r h3{
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    text-indent: 2px;
    margin-top: 45px;
    border-bottom: #e4e4e4 solid 1px;
}
.info-box .content-box ul{
    margin-top: 25px;
}
.info-box .content-box li{
    margin-top: 15px;
}
.info-box .content-box li .name{
    line-height: 37px;
    font-size: 14px;
    min-width: 40px;
    padding-right: 10px;
}
.info-box .content-box li .value{
    width: 380px;
    border: #c9c9c9 solid 1px;
    border-radius: 5px;
    overflow: hidden;
}
.info-box .content-box li.verification .value{
    width: 280px;
}
.info-box .content-box li.verification a{
    width: 80px;
    margin-left: 20px;
    background-color: #0C0C0C;
    color: #FFFFFF;
    border-radius: 5px;
    line-height: 37px;
    text-align: center;
}
.info-box .content-box li .value input[type="text"], .info-box .content-box li .value textarea{
    width: 100%;
    height: 35px;
    border: 0px;
    text-indent: 10px;
}
.info-box .content-box li .value textarea{
    height: 90px;
}
.info-box .content-box li .value button{
    height: 37px;
    width: 100%;
    border: 0px;
    text-align: center;
    background-color: #169bd5;
    color: #FFFFFF;
}
.info-box .content-box li .value.btn{
    border-color: #169bd5;
}
.info-box .content-box li .value.radio{
    border-color: #FFFFFF;
}
.info-box .content-box li .value.radio input{
    margin-right: 10px;
}
.info-box .content-box li .value.radio label{
    margin-left: 25px;
}




/**消息**/
.tab-box .remind-tab{
    margin: 0px 20px;
    border-bottom: #CCCCCC solid 1px;
}
.tab-box .remind-tab ul{
    height: 45px;
    margin-left: 35px;
}
.tab-box .remind-tab li{
    line-height: 45px;
    margin: 0px 20px;
}
.tab-box .remind-tab li a{
    display: inline-block;
    min-width: 50px;
    height: 100%;
    font-size: 16px;
    color: #666666;
    font-weight: bolder;
    text-align: center;
    position: relative;
    text-decoration:none;
}
.tab-box .remind-tab li a i{
    display: none;
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: #FFCC00;
}
.tab-box .remind-tab li.child a{
    color: #0C0C0C;
}
.tab-box .remind-tab li.child a i{
    display: block;
}

.tab-box .remind-tab li span.num{
    display: inline-block;
    padding: 3px 5px;
    line-height: 10px;
    border-radius: 50%;
    background-color: red;
    color: #FFFFFF;
    margin-left: 5px;
}

.tab-box .remind-tab li span.num-tips{
    display: inline-block;
    padding: 3px 3px;
    line-height: 0px;
    border-radius: 50%;
    background-color: red;
    margin-left: 5px;
}


.tab-box .remind-content{

}
.tab-box .remind-content ul{
    width: 760px;
    margin: 0px 35px;
}

/*加载更多*/
.tab-box .remind-content .load-more{
    text-align: center;
    margin-top: 30px;
    border-bottom: #ffcc00 solid 0px;
}
.tab-box .remind-content .load-more .loading{
    margin-bottom: 30px;
}
.tab-box .remind-content .load-more a{
    display: block;
    line-height: 45px;
    font-size: 14px;
    color: #999999;
    background-color: #f2f2f2;
}
/**互动**/
.tab-box .interaction-list{
    position: relative;
}
.tab-box .interaction-list .interaction-check{
    position: absolute;
    right: 30px;
    top: -30px;
}
.tab-box .interaction-list li{
    padding: 15px 0px;
    border-bottom:#e4e4e4 dashed 1px;
}
.tab-box .interaction-list .user-h-box{
    height: 35px;
    color: #7a7a7a;
    font-size: 14px;
}
.tab-box .interaction-list .user-h-box i.tips{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    margin-right: 8px;
}
.tab-box .interaction-list .user-h-box span{
    margin-right: 10px;
}
.tab-box .interaction-list .user-h-box span.user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.tab-box .interaction-list .user-h-box span.user-avatar img{
    width: 100%;
}
.tab-box .interaction-list .user-h-box span.link-txt{
    color: #0C0C0C;
}
.tab-box .interaction-list .praise i,.tab-box .interaction-list .tread i{
    background-position:-100px -70px;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.tab-box .interaction-list .tread i{
    background-position: -75px -70px;
}
.tab-box .interaction-list .li-content-inline{
    background-color: #fbfbfb;
    padding: 15px;
    flex-grow: 1;
}
.tab-box .interaction-list .parent-title, .tab-box .interaction-list .parent-content{
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 14px;
}
.tab-box .interaction-list .parent-title{
    font-weight: bold;
}
.tab-box .interaction-list .parent-content span.h-txt{
    font-weight: bold;
}
.tab-box .interaction-list .user-content {
    margin-top: 15px;
}
.tab-box .interaction-list .user-content a.look-btn{
    display: inline-block;
    color: #00a2d4;
    margin-left: 15px;
}
.tab-box .interaction-list .li-r{
    position: relative;
    min-width: 80px;
}
.tab-box .interaction-list .li-r .date{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
/**系统**/
.tab-box .system-list li{
    padding: 15px 0px;
    border-bottom:#e4e4e4 dashed 1px;
}
.tab-box .system-list .date{
    color: #666666;
    font-size: 14px;
}
.tab-box .system-list .content{
    margin-top: 10px;
    padding-left: 15px;
    font-size: 14px;
}

.user-forum .forum-list-inline{
    position: relative;
}
.user-forum .forum-list-inline .edit-box{
    position: absolute;
    right: 0px;
    top: 15px;
    width: 40px;
    display: none;
    /*background-color: #00a0e9;*/
}
.user-forum .forum-list-inline .edit-box a{
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #8c8c8c;
    border-radius: 5px;
    margin-top: 15px;
    color: #FFF;
}
.user-forum .forum-list-inline:hover .edit-box{
    display: block;
}
.user-forum .forum-list-inline .edit-box .delBtn{
    background-color: #aa5500;
}
.user-forum .forum-list-inline .edit-box .editBtn{
    background-color: #0c97ed;
}

#marqueeBox{
    margin: 0px 10px;
}
#marqueeBox li{
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
}
#marqueeBox li a:hover{
    color: #aa5500;
    text-decoration: underline;
}


























































