<div class="box-width box-center flex-between index-box forum-box">
    <div class="index-left">
        <div class="forum-list" id="indexForumList">
            <div class="list-tab">
                <ul class="flex-start flex-align-stretch">
                    <li class="child"><a href="javascript:void(0);">热门<i></i></a></li>
                    <li><a href="javascript:void(0);">最新<i></i></a></li>
                </ul>
            </div>
            <div class="content-list" id="forumContentBox">
                {volist name="data['post_list']['data']" id="list_data"}
                <div class="list-inline {if $key} box-hide {/if}" >
                    <ul>
                        {volist name="list_data['list']" id="value"}
                        <li>
                            <div class="flex-between flex-align-start h">
                                <div class="title"><a href="{:urls('Forum/item')}?id={$value['id']}" class="link">{$value['title']}</a></div>
                                <div class="flex-start flex-align-center read"><i></i><span>{$value['browse_num']?:''}</span></div>
                            </div>
                            <div class="content">
                                <div class="content-text">
                                    <a href="{:urls('Forum/item')}?id={$value['id']}" class="description link">
                                        {$value['description']}
                                    </a>
                                    <a href="javascript:void(0);" class="look-all" data-id="{$value['id']}">阅读全文<i></i></a>
                                </div>
                                <div class="flex-between flex-start content-images" {if count($value['image_url']) == 0}style="display:none;"{/if}>
                                    {volist name="value['image_url']" id="img"}
                                    <p><a href="{:urls('Forum/item')}?id={$value['id']}" class="link"><img src="{$img}" alt=""></a></p>
                                    {/volist}
                                </div>
                                <div class="box-hide content-all">
                                    <div class="content-body"></div>
                                    <div class="flex-between flex-align-center content-all-end"><span class="date">发布于 {$value['create_time']}</span><a href="javascript:void(0);" class="look-no">收起全文 <i></i></a></div>
                                </div>
                            </div>
                            <div class="end flex-between flex-align-center">
                                <div class="end-l flex-start">
                                    <div class="flex-start flex-align-center attr">
                                        <a href="javascript:void(0);" class="flex-start flex-align-center fabulous"><i></i><span>{$value['praise_num']?:''}</span></a>
                                        <a href="javascript:void(0);" class="flex-start flex-align-center comment"><i></i><span>{$value['comment_num']?:''}</span></a>
                                        <a href="javascript:void(0);" class="flex-start flex-align-center collection"><i></i><span>{$value['collect_num']?:''}</span></a>
                                    </div>
                                    <div class="flex-start flex-align-center share">
                                        <div class="flex-align-center share-h"><i></i></div>
                                        <div class="flex-start flex-align-center share-list">
                                            <a href="javascript:void(0);" class="flex-align-center qq"><i></i></a>
                                            <a href="javascript:void(0);" class="flex-align-center wechat"><i></i></a>
                                            <a href="javascript:void(0);" class="flex-align-center more"><i></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="end-r flex-start flex-align-center showUserInfo" data-id="{$value['user_id']}" data-home="{:urls('User/index')}?user_id={$value['user_id']}">
                                    <div class="user-avatar"><img src="{$value['user_avatar']['50']?:'/static/www/images/user_avatar_50.png'}"></div>
                                    <span class="user-name">{$value['user_name']}</span>
                                </div>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                    <!--加载更多-->
                    <div class="load-more {if $list_data['count']<15} box-hide {/if}">
                        <!--加载动画-->
                        <div class="box-hide loading">
                            <img src="/static/www/images/loading-0.gif">
                        </div>
                        <a href="javascript:void(0);" class="loadForumBtn" data-start="{$data['post_list']['start_id']}" data-status="0" data-type="{$list_data['type']}" data-page="1">点击加载更多</a>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="index-right">
        {if $data['ad_banner']}
        <!--广告-->
        <div class="index-ad">
            <a href="{$data['ad_banner']['link_url']?:'javascript:void(0);'}"><img src="{$data['ad_banner']['image_url']}"></a>
        </div>
        {/if}
        {include file="common/forum_right" /}
    </div>
</div>

{include file="layout/publish_forum" /}