<div class="box-width box-center flex-between index-box forum-box">
    <div class="index-left">
        <div class="forum-list" id="indexForumList">
            <div class="list-tab">
                <ul class="flex-start flex-align-stretch">
                    <li class="child"><a href="javascript:void(0);">热门<i class="b-img"></i></a></li>
                    <li><a href="javascript:void(0);">最新<i class="b-img"></i></a></li>
                </ul>
            </div>
            <div class="content-list" id="forumContentBox">
                {volist name="data['post_list']['data']" id="list_data"}
                <div class="list-inline {if $key} box-hide {/if}" >
                    <ul>
                        {volist name="list_data['list']" id="value"}
                        <li class="li-inline">
                            <div class="flex-between flex-align-start h">
                                <div class="title"><a href="{:urls('Forum/item')}?id={$value['id']}" class="link">{$value['title']}</a></div>
                                <div class="flex-start flex-align-center read"><i class="b-img"></i><span>{$value['browse_num']?:''}</span></div>
                            </div>
                            <div class="content">
                                <div class="content-text">
                                    <a href="{:urls('Forum/item')}?id={$value['id']}" class="description link">
                                        {$value['description']}
                                    </a>
                                    <a href="javascript:void(0);" class="look-all" data-id="{$value['id']}">阅读全文<i class="b-img"></i></a>
                                </div>
                                <div class="flex-between flex-start content-images" {if count($value['image_url']) == 0}style="display:none;"{/if}>
                                    {volist name="value['image_url']" id="img"}
                                    <p><a href="{:urls('Forum/item')}?id={$value['id']}" class="link"><img src="{$img}" alt=""></a></p>
                                    {/volist}
                                </div>
                                <div class="box-hide content-all">
                                    <div class="content-body"></div>
                                    <div class="flex-between flex-align-center content-all-end"><span class="date">发布于 {$value['create_time']}</span><a href="javascript:void(0);" class="look-no">收起全文 <i class="b-img"></i></a></div>
                                </div>
                            </div>
                            <div class="end flex-between flex-align-center">
                                <div class="end-l flex-start">
                                    <div class="flex-start flex-align-center attr">
                                        <a href="javascript:void(0);" class="flex-start flex-align-center fabulous" data-id="{$value['id']}" data-status="0"><i class="b-img"></i><span class="number">{$value['praise_num']?:''}</span></a>
                                        <a href="javascript:void(0);" class="flex-start flex-align-center comment" data-id="{$value['id']}" data-status="0"><i class="b-img"></i><span class="number">{$value['comment_num']?:''}</span> <span class="txt">收起评论</span></a>
                                        <a href="javascript:void(0);" class="flex-start flex-align-center collection" data-id="{$value['id']}" data-status="0"><i class="b-img"></i><span class="number">{$value['collect_num']?:''}</span></a>
                                    </div>
                                    <div class="flex-start flex-align-center share">
                                        <div class="flex-align-center share-h"><i class="b-img"></i></div>
                                        <div class="flex-start flex-align-center share-list user-share" data-title="{$value['title']} - 鱼头网" data-link="{:urls('Forum/item')}?id={$value['id']}">
                                            <a href="javascript:void(0);" class="flex-align-center wechat" data-type="wechat"><i class="b-img"></i></a>
                                            <a href="javascript:void(0);" class="flex-align-center qq" data-type="qq"><i class="b-img"></i></a>
                                            <a href="javascript:void(0);" class="flex-align-center sina" data-type="sina"><i class="b-img"></i></a>
                                            <a href="javascript:void(0);" class="flex-align-center douban" data-type="douban"><i class="b-img"></i></a>
                                            <!--<a href="javascript:void(0);" class="flex-align-center more"><i class="b-img"></i></a>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="end-r flex-start flex-align-center showUserInfo" data-id="{$value['user_id']}" data-home="{:urls('User/index')}?user_id={$value['user_id']}">
                                    <div class="user-avatar"><img src="{$value['user_avatar']['50']?:'/static/www/images/user_avatar_50.png'}"></div>
                                    <span class="user-name">{$value['user_name']}</span>
                                </div>
                            </div>
                            <div class="show-comment">
                                <div class="show-comment-content">
                                    <div class="load-tips-msg" style="text-align: center;margin-top:20px;margin-bottom:10px;">
                                        <span style="background-color: #aeaeae;padding:5px 15px;border-radius: 5px; color:#FFF;">加载中...</span>
                                    </div>
                                </div>
                                <div style="height:81px;"></div>
                                <div class="end-comment-post">
                                    <!--发布评论-->
                                    <div class="forum-item-comment-post">
                                        <div class="flex-between flex-align-stretch flex-align-center">
                                            <div class="flex-between flex-align-stretch flex-align-center input">
                                                <input type="text" name="content" placeholder="点击这里发布想法....." class="indexForumCommentTextBtn">
                                                <a href="javascript:void(0);" class="flex-center flex-align-center expr"><i></i></a>
                                            </div>
                                            <div class="submit">
                                                <a href="javascript:void(0);" class="indexForumCommentSubmitBtn" data-status="0" data-item="{$value['id']}">发布</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                    <!--加载更多-->
                    <div class="load-more {if $list_data['count']<15} box-hide {/if}">
                        <!--加载动画-->
                        <div class="box-hide loading">
                            <img src="/static/www/images/loading-0.gif">
                        </div>
                        <a href="javascript:void(0);" class="loadForumBtn" data-start="{$data['post_list']['start_id']}" data-status="0" data-type="{$list_data['type']}" data-page="1">点击加载更多</a>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="index-right">
        {if $data['ad_banner']}
        <!--广告-->
        <div class="index-ad">
            <a href="{$data['ad_banner']['link_url']?:'javascript:void(0);'}"><img src="{$data['ad_banner']['image_url']}"></a>
        </div>
        {/if}
        {include file="common/forum_right" /}
    </div>
</div>

{include file="layout/publish_forum" /}