<div class="box-width box-center flex-between index-box forum-box">
    <div class="index-left">
        <div class="forum-item">
            <div class="flex-between flex-align-center user-box">
                <div class="flex-start flex-align-center">
                    <div class="user-avatar"><img src="/static/www/test/u11542.png"></div>
                    <div class="user-info">
                        <div class="name">{$data['item']['user_name']}</div>
                        <div class="fabulous-number">{$data['item']['user_praise']}点赞了</div>
                    </div>
                </div>
                <div class="follow-btn">
                    {if $data['item']['collect']}
                    <a href="javascript:void(0);" class="active" data-user="{$data['item']['user_id']}" data-status="1">已关注</a>
                    {else /}
                    <a href="javascript:void(0);" data-user="{$data['item']['user_id']}" data-status="0">+关注</a>
                    {/if}
                </div>
            </div>
            <h1 class="title">{$data['item']['title']}</h1>
            <div class="item-content">
                {$data['item']['content']|raw}
            </div>
            <div class="item-date"><span>发布于</span> <span>{$data['item']['create_time']}</span></div>
            <div class="end flex-between flex-align-center">
                <div class="end-l flex-start">
                    <div class="flex-start flex-align-center attr">
                        <a href="javascript:void(0);" id="forumPraiseBtn" data-status="0" class="flex-start flex-align-center fabulous"><i class="b-img"></i><span class="number">{$data['item']['praise_num']?:''}</span></a>
                        <a href="javascript:void(0);" class="flex-start flex-align-center comment"><i class="b-img"></i><span>{$data['item']['comment_num']?:''}</span></a>
                        <a href="javascript:void(0);" class="flex-start flex-align-center collection collectionBtn" data-status="0" data-id="{$data['item']['id']}"><i class="b-img"></i><span class="">收藏</span></a>
                    </div>
                    <div class="flex-start flex-align-center share">
                        <div class="flex-align-center share-h"><i class="b-img"></i></div>
                        <div class="flex-start flex-align-center share-list user-share">
                            <a href="javascript:void(0);" class="flex-align-center wechat" data-type="wechat"><i class="b-img"></i></a>
                            <a href="javascript:void(0);" class="flex-align-center qq" data-type="qq"><i class="b-img"></i></a>
                            <a href="javascript:void(0);" class="flex-align-center sina" data-type="sina"><i class="b-img"></i></a>
                            <a href="javascript:void(0);" class="flex-align-center douban" data-type="douban"><i class="b-img"></i></a>
                            <!--<a href="javascript:void(0);" class="flex-align-center more"><i class="b-img"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--参与评论-->
        <div class="forum-item-comment-post">
            <div class="flex-between flex-align-stretch flex-align-center">
                <div class="flex-between flex-align-stretch flex-align-center input">
                    <input type="text" name="content" placeholder="点击这里发布想法....." id="forumCommentTextBtn">
                    <a href="javascript:void(0);" class="flex-center flex-align-center expr"><i></i></a>
                </div>
                <div class="submit">
                    <a href="javascript:void(0);" id="forumCommentSubmitBtn" data-status="0">发布</a>
                </div>
            </div>
        </div>

        <!--热门评论 start-->
        <!--<div class="forum-item-comment" id="hotCommentListBox">-->
            <!--<div class="comment-tab">-->
                <!--<ul class="flex-start flex-align-stretch">-->
                    <!--<li class="flex-align-stretch"><a href="javascript:void(0);" class="flex-align-center">热门评论 <i></i></a></li>-->
                    <!--<li class="flex-align-stretch last"><a href="#new_comment" class="flex-align-center">最新评论</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--热门评论 end-->
        <!--最新评论 start-->
        <div class="forum-item-comment" id="newsCommentListBox" {if $data['comment_new']['count'] == 0}style="display: none;"{/if}>
        <div class="comment-tab">
            <ul class="flex-start flex-align-stretch">
                <li class="flex-align-stretch"><a href="javascript:void(0);" class="flex-align-center">最新评论 <i></i></a></li>
                <li class="flex-align-stretch number"><a href="javascript:void(0);" class="flex-align-center">(<span class="comment-count">{$data['comment_new']['count']}</span>条评论)</a></li>
            </ul>
        </div>

        <div class="comment-list-box" id="commentListBox">
            {if $data['comment_new']['count'] == 0}
            <div class="comment-list-inline box-hide" style="display: none;">
                <ul class="comment-list content-main">
                    <li class="content-list-inline">
                        <div class="flex-between comment-info">
                            <div class="flex-start flex-align-center comment-user">
                                <span class="user-avatar"><img src="/static/www/images/user_avatar_50.png"></span>
                                <span class="user-name"></span>
                                <span class="to-day">刚刚</span>
                            </div>
                            <div class="flex-start comment-attr">
                                <!--赞-->
                                <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="" data-id="" data-status="0">
                                    <i class="b-img top"></i><span class="num"></span>
                                </a>
                                <!--踏-->
                                <a href="javascript:void(0);" class="flex-align-center inline comment-tread" data-user="" data-id="" data-status="0">
                                    <i class="b-img tread"></i><span class="num">0</span>
                                </a>
                                <!--更多 举报-->
                                <a href="javascript:void(0);" class="flex-align-center inline">
                                    <i class="b-img more"></i>
                                </a>
                            </div>
                        </div>
                        <div class="comment-content">
                        </div>
                        <a href="javascript:void(0);" class="box-hide comment-reply"
                           data-reply="" data-reply-name=""
                           data-parent="">回复</a>

                    </li>
                </ul>
                <!--评论的回复-->
                <ul class="comment-list comment-reply-list" style="display: none;">
                    <li class="content-list-inline box-hide" style="display: none;">
                        <div class="flex-between comment-info">
                            <div class="flex-start flex-align-center comment-user">
                                <span class="user-avatar"><img src="/static/www/images/user_avatar_50.png"></span>
                                <span class="user-name main"></span>
                                <span class="txt">回复</span>
                                <span class="user-name reply-user-name"></span>
                                <span class="to-day">刚刚</span>
                            </div>
                            <div class="flex-start comment-attr">
                                <!--赞-->
                                <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="" data-id="" data-status="0">
                                    <i class="b-img top"></i><span class="num"></span>
                                </a>
                                <!--踏-->
                                <a href="javascript:void(0);" class="flex-align-center inline comment-tread hide-btn" data-user="" data-id="" data-status="0">
                                    <i class="b-img tread"></i><span class="num"></span>
                                </a>
                                <!--更多 举报-->
                                <a href="javascript:void(0);" class="flex-align-center inline hide-btn">
                                    <i class="b-img more"></i>
                                </a>
                            </div>
                        </div>
                        <div class="comment-content">
                        </div>
                        <a href="javascript:void(0);" class="box-hide comment-reply"
                           data-reply="" data-reply-name=""
                           data-parent="">回复</a>
                    </li>
                </ul>
            </div>
            {/if}

            {volist name="data['comment_new']['list']" id="value"}
            <div class="comment-list-inline">
                <ul class="comment-list content-main">
                    <li class="content-list-inline">
                        <div class="flex-between comment-info">
                            <div class="flex-start flex-align-center comment-user">
                                <span class="user-avatar"><img src="{$value['user_avatar']['50']?:'/static/www/images/user_avatar_50.png'}"></span>
                                <span class="user-name">{$value['user_name']}</span>
                                <span class="to-day">{:friendlyDate($value['date_time'])}</span>
                            </div>
                            <div class="flex-start comment-attr">
                                <!--赞-->
                                <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="{$value['user_id']}" data-id="{$value['id']}" data-status="0">
                                    <i class="b-img top"></i><span class="num">{$value['praise_num']?:''}</span>
                                </a>
                                <!--踏-->
                                <a href="javascript:void(0);" class="flex-align-center inline comment-tread" data-user="{$value['user_id']}" data-id="{$value['id']}" data-status="0">
                                    <i class="b-img tread"></i><span class="num">{$value['tread_num']?:''}</span>
                                </a>
                                <!--更多 举报-->
                                <a href="javascript:void(0);" class="flex-align-center inline">
                                    <i class="b-img more"></i>
                                </a>
                            </div>
                        </div>
                        <div class="comment-content">
                            {$value['content']|raw}
                        </div>
                        <a href="javascript:void(0);" class="box-hide comment-reply"
                           data-reply="{$value['user_id']}" data-reply-name="{$value['user_name']}"
                           data-parent="{$value['id']}">回复</a>

                    </li>
                </ul>
                <!--评论的回复-->
                <ul class="comment-list comment-reply-list" {if $value['comment_list']['count'] == 0 }style="display: none;"{/if}>
                {if $value['comment_list']['count'] == 0 }
                <li class="content-list-inline box-hide" style="display: none;">
                    <div class="flex-between comment-info">
                        <div class="flex-start flex-align-center comment-user">
                            <span class="user-avatar"><img src="/static/www/images/user_avatar_50.png"></span>
                            <span class="user-name main"></span>
                            <span class="txt">回复</span>
                            <span class="user-name reply-user-name"></span>
                            <span class="to-day"></span>
                        </div>
                        <div class="flex-start comment-attr">
                            <!--赞-->
                            <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="" data-id="" data-status="0">
                                <i class="b-img top"></i><span class="num"></span>
                            </a>
                            <!--踏-->
                            <a href="javascript:void(0);" class="flex-align-center inline comment-tread hide-btn" data-user="" data-id="" data-status="0">
                                <i class="b-img tread"></i><span class="num"></span>
                            </a>
                            <!--更多 举报-->
                            <a href="javascript:void(0);" class="flex-align-center inline hide-btn">
                                <i class="b-img more"></i>
                            </a>
                        </div>
                    </div>
                    <div class="comment-content">
                    </div>
                    <a href="javascript:void(0);" class="box-hide comment-reply"
                       data-reply="" data-reply-name=""
                       data-parent="">回复</a>
                </li>
                {/if}
                {volist name="value['comment_list']['list']" id="reply"}
                <li class="content-list-inline">
                    <div class="flex-between comment-info">
                        <div class="flex-start flex-align-center comment-user">
                            <span class="user-avatar"><img src="{$reply['user_avatar']['50']?:'/static/www/images/user_avatar_50.png'}"></span>
                            <span class="user-name main">{$reply['user_name']}</span>
                            <span class="txt">回复</span>
                            <span class="user-name reply-user-name">{$reply['reply_name']}</span>
                            <span class="to-day">{:friendlyDate($reply['date_time'])}</span>
                        </div>
                        <div class="flex-start comment-attr">
                            <!--赞-->
                            <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="{$reply['user_id']}" data-id="{$reply['id']}" data-status="0">
                                <i class="b-img top"></i><span class="num">{$reply['praise_num']?:''}</span>
                            </a>
                            <!--踏-->
                            <a href="javascript:void(0);" class="flex-align-center inline comment-tread hide-btn" data-user="{$reply['user_id']}" data-id="{$reply['id']}" data-status="0">
                                <i class="b-img tread"></i><span class="num">{$reply['tread_num']?:''}</span>
                            </a>
                            <!--更多 举报-->
                            <a href="javascript:void(0);" class="flex-align-center inline hide-btn">
                                <i class="b-img more"></i>
                            </a>
                        </div>
                    </div>
                    <div class="comment-content">
                        {$reply['content']}
                    </div>
                    <a href="javascript:void(0);" class="box-hide comment-reply"
                       data-reply="{$reply['user_id']}" data-reply-name="{$reply['user_name']}"
                       data-parent="{$value['id']}">回复</a>
                </li>
                {/volist}
                </ul>
            </div>
            {/volist}

            </div>
        </div>
        <!--最新评论 end-->


        <!--加载更多-->
        <div class="load-more" {if $data['comment_new']['count'] <= 15 }style="display: none;"{/if}>
            <!--加载动画-->
            <div class="box-hide loading">
                <img src="/static/www/images/loading-0.gif">
            </div>
            <a href="javascript:void(0);">点击加载评论</a>
        </div>
        <div style="height:150px;"></div>

    </div>
    <div class="index-right">
        {if $data['ad_banner']}
        <!--广告-->
        <div class="index-ad">
            <a href="{$data['ad_banner']['link_url']?:'javascript:void(0);'}"><img src="{$data['ad_banner']['image_url']}"></a>
        </div>
        {/if}
        {include file="common/forum_right" /}
    </div>
</div>

{include file="layout/publish_forum" /}