<div class="box-width box-center flex-between index-box">
    <div class="index-left">
        <!--幻灯片-->
        <div class="index-banner" id="indexBanner">
            <div class="images">
                <ul>
                    {volist name="data['ad_carousel']['list']" id="value"}
                    <li><a href="{$value['link_url']?:'javascript:void(0);'}" target="_blank"><img src="{$value['image_url']}"></a></li>
                    {/volist}
                </ul>
            </div>
            <div class="hd">
                <ul class="box-center flex-center">
                </ul>
            </div>
            <a class="b-img prev" href="javascript:void(0);"></a>
            <a class="b-img next" href="javascript:void(0);"></a>
        </div>
        <!--热点-->
        <div class="index-hot-news" id="index-hot-news">
            <div class="box">
                <ul class="list">
                    {volist name="data['top_list']" id="top"}
                    <li>
                        <a href="{:urls('news/item')}?id={$top['id']}" target="_blank">
                            <img src="{$top['image_url']}" alt="">
                            <p>{$top['title']}</p>
                        </a>
                    </li>
                    {/volist}
                </ul>
                <a href="javascript:void(0);" class="b-img next"></a>
                <a href="javascript:void(0);" class="b-img prev"></a>
            </div>
        </div>
        <script src="/static/www/js/extend/superslide/index.js?t=20190312"></script>
        <script type="text/javascript">
            var indexBanner = $("#indexBanner");
            if(indexBanner.find('.images li').length > 1){
                indexBanner.find('.images li').each(function(i, n){
                    indexBanner.find('.hd ul').append('<li></li>');
                });
                jQuery("#indexBanner").slide({mainCell:".images ul",effect:"leftLoop",vis:"auto",autoPlay:true,interTime:4000,easing:"easeInQuint"});
            }
            $('#index-hot-news').cxScroll({
                direction: 'right'
            });
        </script>
        <!--分类新闻-->
        <div class="index-news" id="indexNewsList">
            <div class="news-tab">
                <ul class="flex-start flex-align-stretch">
                    <li class="child"><a href="javascript:void(0);">最新文章<i class="b-img"></i></a></li>
                    <li><a href="javascript:void(0);">竞彩大神<i class="b-img"></i></a></li>
                    <!--<li><a href="javascript:void(0);">数字彩讯<i class="b-img"></i></a></li>-->
                    <li><a href="javascript:void(0);">电竞地带<i class="b-img"></i></a></li>
                </ul>
            </div>
            <div class="news-content" id="newsContentBox">
                {volist name="data['news_list']['data']" id="news_list"}
                {if $key != 2}
                <div class="news-list {$key?'box-hide':''}">
                    <ul>
                        {volist name="news_list['list']" id="item"}
                        <li class="flex-between flex-align-stretch inline">
                            <div class="image">
                                {if $item['image_url']}
                                <a href="{:urls('news/item')}?id={$item['id']}" target="_blank">
                                    <img src="{$item['image_url']}" alt="">
                                </a>
                                {/if}
                            </div>
                            <div class="item-content">
                                <p class="title"><a href="{:urls('news/item')}?id={$item['id']}" target="_blank">{$item['title']}</a></p>
                                <p class="description">{$item['description']}</p>
                                <div class="flex-between info">
                                    <div class="flex-start info-l">
                                        <div class="inline author-name">{$item['author']?:$item['source_name']}</div>
                                        <div class="inline date">{$item['published_time']}</div>
                                    </div>
                                    <div class="flex-start info-r">
                                        <div class="inline flex-align-start read"><i class="b-img"></i> <span>{$item['browse_num']?:'0'}</span></div>
                                        <div class="inline flex-align-center comment"><i class="b-img"></i> <span>{$item['comment_num']?:'0'}</span></div>
                                        <div class="inline flex-align-center collection"><i class="b-img"></i> <span>{$item['collect_num']?:'0'}</span></div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        {/volist}
                    </ul>

                    <!--加载更多-->
                    <div class="load-more {if $news_list['count']<15} box-hide {/if}">
                        <!--加载动画-->
                        <div class="box-hide loading">
                            <img src="/static/www/images/loading-0.gif">
                        </div>
                        <a href="javascript:void(0);" class="loadNewsBtn" data-start="{$data['news_list']['start_id']}" data-status="0" data-category="{$news_list['category']}" data-page="1">点击加载资讯</a>
                    </div>
                </div>
                {/if}
                {/volist}
            </div>
        </div>
    </div>
    <div class="index-right">
        {include file="common/news_right" /}
        <!--幸运号码-->
        <!--<div class="index-lottery" id="indexLottery">-->
            <!--<h3>幸运号码</h3>-->
            <!--<div class="lottery-list lottery-scroll-box" id="lottery-scroll-list">-->
                <!--<ul class="lottery-scroll-content">-->
                    <!--{volist name="data['lottery_list']" id="lott"}-->
                    <!--<li>-->
                        <!--<div class="flex-between lottery-title">-->
                            <!--<span>{$lott['name']}</span>-->
                            <!--<span>{$lott['no']}期</span>-->
                        <!--</div>-->
                        <!--<div class="flex-center code-list">-->
                            <!--{volist name="lott['open_code']" id="code"}-->
                            <!--<span>{$code}</span>-->
                            <!--{/volist}-->
                            <!--{volist name="lott['open_code_ext']" id="ext"}-->
                            <!--<span class="ext">{$ext}</span>-->
                            <!--{/volist}-->
                        <!--</div>-->
                        <!--<div class="flex-end more">-->
                            <!--<a href="javascript:void(0);" class="details" data-id="{$lott['id']}">往期</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--{/volist}-->
                <!--</ul>-->
                <!--<div class="scroll_bar">-->
                    <!--<div class="scroll_slider"></div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--移动资讯-->
        <div class="index-h5">
            <h3>移动资讯</h3>
            <div class="h5-content">
                <p>
                    <img src="/static/www/test/u344.jpg">
                </p>
                <p>打开手机浏览器，扫一扫看资讯</p>
            </div>
        </div>
    </div>
</div>