{if $data['ad_banner']}
<!--广告-->
<div class="index-ad">
    <a href="{$data['ad_banner']['link_url']?:'javascript:void(0);'}"><img src="{$data['ad_banner']['image_url']}"></a>
</div>
{/if}
<!--7天热门-->
<div class="index-seven">
    <h3>七天热门</h3>
    <div class="seven-list">
        <ul>
            {volist name="data['seven_list']" id="seven"}
            <li>
                <div class="flex-align-start title">
                    <i></i>
                    <p><a href="{:urls('news/item')}?id={$seven['id']}">{$seven['title']}</a></p>
                </div>
                <div class="flex-between item-info">
                    <div class="author-name">{$seven['author']?:$seven['source_name']}</div>
                    <div class="flex-align-center comment-num"><i class="b-img"></i><span>{$seven['comment_num']?:0}</span></div>
                </div>
            </li>
            {/volist}
        </ul>
    </div>
</div>