<div class="layui-fluid" id="LAY-article">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">赛事列表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-form" action="" id="LAY-article-form-search">
                    <div style="margin-bottom: 10px;">
                        <div class="layui-inline clear-left">
                            <div class="layui-input-block" style="width: 150px;">
                                <input type="text" name="name" placeholder="赛事名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="search">查询</button>
                    </div>
                    <table class="layui-table" id="LAY-table" lay-filter="LAY-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="list-table-toolbar">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="set">设置</a>
</script>
<script>
    bodyD.use(['index', 'form', 'table', 'util', 'laydate'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            util = layui.util;

        //form.render();
        var tableOptions = {
            elem: '#LAY-table',
            url: window.location.href,
            where: {
                status: '',
                phone: ''
            },
            cols: [
                [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: 'ID',
                        width: 60,
                        align: 'center',

                    },
                    {
                        field: 'type_name',
                        title: '类别',
                        width: 60,
                        align: 'center',
                    },
                    {
                        field: 'name',
                        title: '赛事名称',
                        minWidth: 150,
                        align: 'left',
                        templet: function (d) {
                            return '['+ d.league_name +']' + d.name;
                        }
                    },
                    // {
                    //     field: 'main_image_url',
                    //     title: '主队',
                    //     width: 100,
                    //     align: 'center'
                    // },
                    // {
                    //     field: 'passenger_image_url',
                    //     title: '客队',
                    //     width: 100,
                    //     align: 'center'
                    // },
                    {
                        field: 'support_main_num',
                        title: '主队',
                        width: 60,
                        align: 'center'
                    },
                    {
                        field: 'support_o_num',
                        title: '平局',
                        width: 60,
                        align: 'center'
                    },
                    {
                        field: 'support_passenger_num',
                        title: '客队',
                        width: 60,
                        align: 'center'
                    },
                    {
                        field: 'open_time_txt',
                        title: '开赛时间',
                        width: 165
                    },
                    {
                        field: 'create_time',
                        title: '时间',
                        width: 165
                    },
                    {
                        field: 'result_status_txt',
                        title: '结果',
                        width: 80,
                        align: 'center'
                    },
                    // {
                    //     field: 'status_txt',
                    //     title: '状态',
                    //     width: 80,
                    //     align: 'center'
                    // },

                    {
                        fixed: 'right',
                        title: '操作',
                        width: 80,
                        align: 'center',
                        toolbar: '#list-table-toolbar'
                    }
                ]
            ],
            id: 'LayTable',
            page: true,
            limit: 15,
            limits: [15, 25, 35, 45, 55],
            height: 'full-153',
            done: function (res) {}
        };
        table.render(tableOptions);

        table.on("tool(LAY-list-table)", function (t) {
            console.log(t);
            var obj = t;
            var oData = obj.data;
            switch (obj.event)
            {
                case 'set':
                    layer.open({
                        type: 2,
                        title: '设置赛事结果',
                        content: '{:Url("Match/setEdit")}',
                        maxmin: false,
                        area: ['350px', '180px'],
                        btn: ['确定', '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index],
                                submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit');

                            //监听提交
                            iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                                data.field.id = oData.id;
                                console.log(data.field);
                                layer.confirm('<font color="red">比赛结果无法重置</font> 确定要提交？',{icon: 3, title:false}, function (confirm_index) {
                                    layer.load(2);
                                    admin.req({
                                        url: '{:Url("Match/setSave")}',
                                        data: data.field,
                                        type: 'Post',
                                        done: function (res) {
                                            layer.closeAll('loading');
                                            if(res.code == 0){
                                                var resultTxt = [
                                                    '<span class="layui-badge layui-btn-warm">平局</span>',
                                                    '<span class="layui-badge layui-bg-green">主队胜</span>',
                                                    '<span class="layui-badge layui-bg-normal">客队胜</span>'
                                                ];
                                                obj.update({
                                                    result_status_txt: resultTxt[data.field.result_value],
                                                });
                                                layer.close(index);
                                                layer.close(confirm_index);
                                                return ;
                                            }
                                            layer.msg(res.msg, {icon:0});

                                        }
                                    });
                                });


                            });
                            submit.trigger('click');
                        }
                    });
                    break;
                case 'del':
                    layer.confirm('<font color="red">删除对用户的金币无影响</font> 确定要删除？',{icon: 3, title:false}, function (index) {
                        layer.load(2);
                        admin.req({
                            url: '{:Url("Match/delete")}',
                            data: {
                                id: data.id
                            },
                            done: function (res) {
                                layer.closeAll('loading');
                                if(res.code == 0){
                                    obj.del();
                                    layer.close(index);
                                    return;
                                }
                                layer.msg(res.msg, {
                                    icon: 1
                                });
                            }
                        });
                    });
                    break;
            }
        });

        //事件处理
        var events = {
            give: function (othis, id) {
                var oUrl = "{:Url('Match/give')}";
                var wWidth = ($(window).width() < 650)? $(window).width()*0.8: 650;
                var wHeight = ($(window).height() < 600)? $(window).height()*0.7: 600;
                layer.open({
                    type: 2,
                    title: '赠送金币',
                    content: oUrl,
                    maxmin: true,
                    area: [wWidth +'px', wHeight+'px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit');

                        //监听提交
                        iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                            layer.load(2);
                            admin.req({
                                url: oUrl,
                                data: data.field,
                                type: 'Post',
                                done: function (res) {
                                    layer.closeAll('loading');
                                    if(res.code == 0){
                                        table.reload('LayTable',{page:1});
                                        layer.close(index);//关闭当前窗口
                                        return ;
                                    }
                                    layer.msg(res.msg, {icon:0});

                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });

            },
            getCheckedIds: function () {
                var checkStatus = table.checkStatus('LayTable'),
                    data = checkStatus.data;
                var cols = '';
                for (var i = 0, len = data.length; i < len; i++) {
                    cols += ',' + data[i]['id'];
                }
                return cols.substr(1);
            }
        };

        $('.layui-tab-title .layui-form-ctrl, .update-btns .layui-btn').on('click', function() {
            var othis = $(this),
                thisEvent = othis.data('events');
            events[thisEvent] && events[thisEvent].call(this, othis);
        });

        form.on('submit(search)', function (data) {
            tableOptions.where = data.field;
            table.reload('LayTable', tableOptions);
            return false;
        });

    });
</script>
