<div class="layui-fluid" id="LAY-article">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">文章列表</li>
                <li class="layui-form-ctrl" data-events="add">添加文章</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-form" action="" id="LAY-article-form-search">
                    <div style="margin-bottom: 10px;">
                        <div class="layui-input-inline" style="width: 200px;">
                            <select name="category_id" lay-verify="">
                                <option value="">分类</option>
                                {$data['category_list']|raw}
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="status" lay-verify="">
                                <option value="">状态</option>
                                <option value="1">已发布</option>
                                <option value="0">未发布</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="order" lay-verify="">
                                <option value="">热度</option>
                                <option value="browse_num">浏览</option>
                                <option value="praise_num">点赞</option>
                                <option value="collect_num">收藏</option>
                                <option value="comment_num">评论</option>
                            </select>
                        </div>
                        <div class="layui-inline clear-left">
                            <div class="layui-input-block" style="width: 150px;">
                                <input type="text" name="open_time" placeholder="开始时间" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline clear-left">
                            <div class="layui-input-block" style="width: 150px;">
                                <input type="text" name="end_time" placeholder="结束时间" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline clear-left">
                            <div class="layui-input-block" style="width: 150px;">
                                <input type="text" name="title" placeholder="新闻标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="search">查询</button>
                    </div>
                    <div class="update-btns layui-btn-group" style="margin-bottom:-20px;">
                        <button class="layui-btn layui-btn-sm layui-bg-black" lay-submit="" data-events="update" data-type="status" data-status="1">发布</button>
                        <button class="layui-btn layui-btn-sm layui-bg-black" lay-submit="" data-events="update" data-type="status" data-status="0">取消发布</button>
                        <button class="layui-btn layui-btn-sm layui-bg-black" lay-submit="" data-events="update" data-type="hot" data-status="1">热门</button>
                        <button class="layui-btn layui-btn-sm layui-bg-black" lay-submit="" data-events="update" data-type="hot" data-status="0">取消热门</button>
                        <button class="layui-btn layui-btn-sm layui-bg-black" lay-submit="" data-events="update" data-type="recommended" data-status="1">推荐</button>
                        <button class="layui-btn layui-btn-sm layui-bg-black" lay-submit="" data-events="update" data-type="recommended" data-status="0">取消推荐</button>
                        <button class="layui-btn layui-btn-sm layui-bg-red" lay-submit="" data-events="del">删除</button>
                    </div>
                    <table class="layui-table" id="LAY-table" lay-filter="LAY-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="list-table-toolbar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    bodyD.use(['index', 'form', 'table', 'util', 'laydate'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            util = layui.util;

        //发布开始时间
        laydate.render({
            elem: 'input[name="open_time"]',
            type: 'datetime',
        });
        //发布结束时间
        laydate.render({
            elem: 'input[name="end_time"]',
            type: 'datetime',
        });
        //form.render();
        var tableOptions = {
            elem: '#LAY-table',
            url: window.location.href,
            where: {
                category_id: '',
                status: '',
                order: '',
                open_time: '',
                end_time: '',
                title: ''
            },
            cols: [
                [{
                    checkbox: true
                },
                    {
                        field: 'category_name',
                        title: '分类',
                        width: 200,

                    },
                    {
                        field: 'title',
                        title: '标题',
                        minWidth: 200
                    },
                    {
                        field: 'status_txt',
                        title: '状态',
                        width: 185,
                        align: 'center'
                    },
                    {
                        field: 'browse_num',
                        title: '浏览',
                        width: 80,
                        align: 'center',
                    },
                    {
                        field: 'praise_num',
                        title: '点赞',
                        width: 80,
                        align: 'center',
                    },
                    {
                        field: 'collect_num',
                        title: '收藏',
                        width: 80,
                        align: 'center',
                    },
                    {
                        field: 'comment_num',
                        title: '评论',
                        width: 80,
                        align: 'center',
                    },
                    {
                        field: 'published_txt',
                        title: '发布时间',
                        width: 180
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 120,
                        align: 'center',
                        toolbar: '#list-table-toolbar'
                    }
                ]
            ],
            id: 'LayTable',
            page: true,
            limit: 15,
            limits: [15, 25, 35, 45, 55],
            height: 'full-180',
            done: function (res) {}
        };
        table.render(tableOptions);

        table.on("tool(LAY-list-table)", function (t) {
            //console.log(t);
            var obj = t;
            var data = obj.data;
            switch (obj.event)
            {
                case 'edit':
                    var oUrl = "{:Url('PortalNews/edit',['id'=>'__id__'])}";
                    oUrl = oUrl.replace('__id__', data.id);
                    layer.open({
                        type: 2,
                        title: '编辑资讯',
                        content: oUrl,
                        maxmin: true,
                        area: [($(window).width()*0.8)+'px', ($(window).height()*0.7)+'px'],
                        btn: ['确定', '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index],
                                submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit'),
                                setContent = layero.find('iframe').contents().find('#getContent');

                            //监听提交
                            iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                                admin.req({
                                    url: oUrl,
                                    data: data.field,
                                    type: 'Post',
                                    done: function (res) {
                                        layer.msg(res.msg, {
                                            icon: 1
                                        }, function() {
                                            //console.log(res.code);
                                            if(res.code == 0){
                                                var statusTxt = data.field.status?'<span class="layui-badge layui-bg-green">已发布</span>':'<span class="layui-badge layui-bg-gray">未发布</span>';
                                                statusTxt += data.field.hot?' <span class="layui-badge layui-bg-green">已热门</span>':' <span class="layui-badge layui-bg-gray">未热门</span>';
                                                statusTxt += data.field.recommended?' <span class="layui-badge layui-bg-green">已推荐</span>':' <span class="layui-badge layui-bg-gray">未推荐</span>';

                                                obj.update({
                                                    status: data.field.status?1:0,
                                                    hot: data.field.hot?1:0,
                                                    recommended: data.field.recommended?1:0,
                                                    status_txt: statusTxt,
                                                    category_name: res.data.category_name

                                                });

                                            }

                                            //location.reload(true);
                                        });
                                        //layer.close(index); //关闭弹层
                                    }
                                });
                            });
                            setContent.trigger('click');
                            submit.trigger('click');
                        }
                    });
                    break;
                case 'look':
                    window.open(
                        data.source_url,
                        '_blank', 'toolbar=no,scrollbars=no,menubar=no,status=no');
                    return false;
                    break;
                case 'del':
                    layer.confirm('确定删除选中的数据吗？',{icon: 3, title:false}, function (index) {
                        layer.load(2);
                        admin.req({
                            url: '{:Url("PortalNews/delete")}',
                            data: {
                                id: data.id
                            },
                            done: function (res) {
                                layer.closeAll('loading');
                                if(res.code == 0){
                                    obj.del();
                                    layer.close(index);
                                    return ;
                                }
                                layer.msg(res.msg, {
                                    icon: 1
                                });
                            }
                        });
                    });
                    break;
            }
        });

        //事件处理
        var events = {
            add: function (othis, id) {
                var oUrl = "{:Url('PortalNews/add')}";
                layer.open({
                    type: 2,
                    title: '添加文章',
                    content: oUrl,
                    maxmin: true,
                    area: [($(window).width()*0.8)+'px', ($(window).height()*0.7)+'px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit')
                            setContent = layero.find('iframe').contents().find('#getContent');

                        //监听提交
                        iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                            admin.req({
                                url: oUrl,
                                data: data.field,
                                type: 'Post',
                                done: function (res) {
                                    layer.msg(res.msg, {
                                        icon: 1
                                    }, function() {
                                        location.reload(true);
                                    });
                                    layer.close(index); //关闭弹层
                                }
                            });
                        });
                        setContent.trigger('click');
                        submit.trigger('click');
                    }
                });

            },
            del: function () {
                var checkedIds = events.getCheckedIds();
                if (checkedIds === '') return layer.msg('未选中行');
                layer.confirm('确定删除选中的数据吗？',{icon: 3, title:false}, function (index) {
                    layer.load(2);
                    admin.req({
                        url: '{:Url("PortalNews/delete")}',
                        data: {
                            id: checkedIds
                        },
                        done: function (res) {
                            layer.closeAll('loading');
                            if(res.code == 0){
                                table.reload('LayTable');
                                layer.close(index);
                                return;
                            }

                            layer.msg('删除失败', {
                                icon: 1
                            });

                        }
                    });
                });
            },
            update: function (oThis) {
                var checkedIds = events.getCheckedIds();
                if (checkedIds === '') return layer.msg('未选中行');

                layer.load(2);
                admin.req({
                    url: '{:Url("PortalNews/update")}',
                    data: {
                        id: checkedIds,
                        field: oThis.data('type'),
                        value: oThis.data('status')
                    },
                    done: function (res) {
                        layer.closeAll('loading');
                        if(res.code == 0){
                            table.reload('LayTable');
                            return;
                        }

                        layer.msg(res.msg, {
                            icon: 1
                        });

                    }
                });

            },
            getCheckedIds: function () {
                var checkStatus = table.checkStatus('LayTable'),
                    data = checkStatus.data;
                var cols = '';
                for (var i = 0, len = data.length; i < len; i++) {
                    cols += ',' + data[i]['id'];
                }
                return cols.substr(1);
            }
        };

        $('.layui-tab-title .layui-form-ctrl, .update-btns .layui-btn').on('click', function() {
            var othis = $(this),
                thisEvent = othis.data('events');
            events[thisEvent] && events[thisEvent].call(this, othis);
        });

        form.on('submit(search)', function (data) {
            tableOptions.where = data.field;
            table.reload('LayTable', tableOptions);
            return false;
        });

    });
</script>
