<div class="layui-fluid" id="LAY-article">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">广告列表</li>
                <li class="layui-form-ctrl" data-events="add">添加广告</li>
                <li class="layui-form-ctrl" data-events="addAD">添加广告位</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-form" action="" id="LAY-article-form-search">
                    <div style="margin-bottom: 10px;">
                        <div class="layui-input-inline" style="width: 150px;">
                            <select name="ad_id" lay-verify="">
                                <option value="">广告位</option>
                                {volist name="data['ad_list']['list']" id="value"}
                                    <option value="{$value['id']}">{$value['name']}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="status" lay-verify="">
                                <option value="">全部</option>
                                <option value="1">上架中</option>
                                <option value="0">已下架</option>
                            </select>
                        </div>
                        <div class="layui-inline clear-left">
                            <div class="layui-input-block" style="width: 150px;">
                                <input type="text" name="title" placeholder="广告标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="search">查询</button>
                    </div>
                    <table class="layui-table" id="LAY-table" lay-filter="LAY-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="list-table-toolbar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    bodyD.use(['index', 'form', 'table', 'util', 'laydate'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            util = layui.util;

        //form.render();
        var tableOptions = {
            elem: '#LAY-table',
            url: window.location.href,
            where: {
                ad_id: '',
                status: '',
                title: ''
            },
            cols: [
                [{
                    checkbox: true
                },
                    {
                        field: 'name',
                        title: '广告位',
                        width: 120,

                    },
                    {
                        field: 'type_txt',
                        title: '平台',
                        width: 60,
                        align: 'center'
                    },
                    {
                        field: 'title',
                        title: '标题',
                        width: 150
                    },
                    {
                        field: 'image_url',
                        title: '广告图',
                        width: 120
                    },
                    {
                        field: 'link_url',
                        title: '广告地址',
                        minWidth: 330
                    },
                    {
                        field: 'status_txt',
                        title: '状态',
                        width: 80,
                        align: 'center'
                    },
                    {
                        field: 'put_open_time',
                        title: '投放开始时间',
                        width: 180
                    },
                    {
                        field: 'put_end_time',
                        title: '投放结束时间',
                        width: 180
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 120,
                        align: 'center',
                        toolbar: '#list-table-toolbar'
                    }
                ]
            ],
            id: 'LayTable',
            page: true,
            limit: 15,
            limits: [15, 25, 35, 45, 55],
            height: 'full-153',
            done: function (res) {}
        };
        table.render(tableOptions);

        table.on("tool(LAY-list-table)", function (t) {
            //console.log(t);
            var obj = t;
            var data = obj.data;
            switch (obj.event)
            {
                case 'edit':
                    var oUrl = "{:Url('AdImages/edit',['id'=>'__id__'])}";
                    oUrl = oUrl.replace('__id__', data.id);
                    layer.open({
                        type: 2,
                        title: '编辑广告',
                        content: oUrl,
                        maxmin: true,
                        area: [($(window).width()*0.8)+'px', ($(window).height()*0.7)+'px'],
                        btn: ['确定', '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index],
                                submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit');

                            //监听提交
                            iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                                admin.req({
                                    url: oUrl,
                                    data: data.field,
                                    type: 'Post',
                                    done: function (res) {
                                        layer.msg(res.msg, {
                                            icon: 1
                                        }, function() {
                                            //console.log(res.code);
                                            if(res.code == 0){

                                                if(data.field.put_end_time > getNowFormatDate()){
                                                    var status_txt = '<span class="layui-badge layui-bg-green">上架中</span>';
                                                }else{
                                                    var status_txt = '<span class="layui-badge layui-bg-gray">已下架</span>';
                                                }

                                                obj.update({
                                                    status_txt: status_txt,
                                                    put_open_time: data.field.put_open_time,
                                                    put_end_time: data.field.put_end_time,
                                                    title: data.field.title,
                                                    link_url: data.field.link_url,
                                                    type_txt: data.type == '1'?'PC':'H5',
                                                });

                                            }

                                            //location.reload(true);
                                        });
                                        //layer.close(index); //关闭弹层
                                    }
                                });
                            });

                            submit.trigger('click');
                        }
                    });
                    break;
                case 'look':
                    window.open(
                        data.source_url,
                        '_blank', 'toolbar=no,scrollbars=no,menubar=no,status=no');
                    return false;
                    break;
                case 'del':
                    layer.confirm('确定删除选中的数据吗？',{icon: 3, title:false}, function () {
                        admin.req({
                            url: '{:Url("AdImages/delete")}',
                            data: {
                                id: data.id
                            },
                            done: function (res) {
                                obj.del();
                                layer.msg(res.msg, {
                                    icon: 1
                                });
                            }
                        });
                    });
                    break;
            }
        });

        //事件处理
        var events = {
            add: function (othis, id) {
                var oUrl = "{:Url('AdImages/add')}";
                layer.open({
                    type: 2,
                    title: '添加广告',
                    content: oUrl,
                    maxmin: true,
                    area: [($(window).width()*0.8)+'px', ($(window).height()*0.7)+'px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit')
                        setContent = layero.find('iframe').contents().find('#getContent');

                        //监听提交
                        iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                            admin.req({
                                url: oUrl,
                                data: data.field,
                                type: 'Post',
                                done: function (res) {
                                    layer.msg(res.msg, {
                                        icon: 1
                                    }, function() {
                                        location.reload(true);
                                    });
                                    layer.close(index); //关闭弹层
                                }
                            });
                        });
                        setContent.trigger('click');
                        submit.trigger('click');
                    }
                });

            },
            addAD: function (othis, id) {
                var oUrl = "{:Url('AdImages/addAd')}";
                var winW = $(window).width()<600?$(window).width():600;
                var winH = $(window).height()<435?$(window).height():435;
                layer.open({
                    type: 2,
                    title: '添加广告位',
                    content: oUrl,
                    maxmin: true,
                    area: [winW + 'px', winH + 'px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit')

                        //监听提交
                        iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                            admin.req({
                                url: oUrl,
                                data: data.field,
                                type: 'Post',
                                done: function (res) {
                                    layer.msg(res.msg, {
                                        icon: 1
                                    }, function() {
                                        location.reload(true);
                                    });
                                    layer.close(index); //关闭弹层
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            },
        };

        $('.layui-tab-title .layui-form-ctrl').on('click', function() {
            var othis = $(this),
                thisEvent = othis.data('events');
            events[thisEvent] && events[thisEvent].call(this, othis);
        });

        form.on('submit(search)', function (data) {
            tableOptions.where = data.field;
            table.reload('LayTable', tableOptions);
            return false;
        });

        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var seperator2 = ":";
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            var hours = date.getHours();
            var minutes =  date.getMinutes();
            var seconds = date.getSeconds();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            if (hours >= 0 && hours <= 9) {
                hours = "0" + hours;
            }
            if (minutes >= 0 && minutes <= 9) {
                minutes = "0" + minutes;
            }
            if (seconds >= 0 && seconds <= 9) {
                seconds = "0" + seconds;
            }
            var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                + " " + hours + seperator2 + minutes + seperator2 + seconds;
            return currentdate;
        }

    });
</script>
