<div class="box-width box-center flex-between index-box news-box">
    <div class="index-left news-left">
        <div class="news-item">
            <h1 class="title">{$data['item']['title']}</h1>
            <div class="flex-center item-info">
                <div class="inline">
                    <span>{:date('Y-m-d H:i:s', $data['item']['published_time'])}</span>
                    <span>来源：{$data['item']['author']?:$data['item']['source_name']}</span>
                </div>
                <div class="inline">
                    <span>浏览 {$data['item']['browse_num'] + 1}</span>
                    <span>评论 {$data['item']['comment_num']?:'0'}</span>
                </div>
            </div>
            {if $data['item']['match_status']}
            <div class="jingcai">
                <div class="jingcai_top">
                    <span>{$data['item']['league_name']}</span>
                    <span>{:date('m-d', $data['item']['open_time'])}</span>
                    <span>{:date('H:i', $data['item']['open_time'])}</span>
                </div>
                <!-- 队伍logo -->
                <div class="team_logo">
                    <div class="home_team">
                        <img src="{$data['item']['main_image_url']}" alt="" class="logo">
                        <span>{$data['item']['main_name']}</span>
                    </div>
                    <div class="duel">
                        <img src="/static/www/images/vs.png" alt="">
                    </div>
                    <div class="visit_team">
                        <img src="{$data['item']['passenger_image_url']}" alt="" class="logo">
                        <span>{$data['item']['passenger_name']}</span>
                    </div>
                </div>
                <!-- 胜负数据 -->
                <div class="jingcai_info">
                    <div class="titles">胜平负</div>
                    <div class="table">
                        <div class="serial_number">
                            {volist name="data['item']['attr_data']" id="vl"}
                            <div class="td" style="color: {$vl['main']['color']};">{$vl['main']['value']}</div>
                            {/volist}
                        </div>
                        <div class="outcome_data">
                            {volist name="data['item']['attr_data']" id="vl"}
                            <div class="tr">
                                <div class="td" style="color: {$vl['param'][0]['color']};">胜 {$vl['param'][0]['value']}</div>
                                <div class="td" style="color: {$vl['param'][1]['color']};">平 {$vl['param'][1]['value']}</div>
                                <div class="td" v-if="!basket" style="color: {$vl['param'][2]['color']};">负 {$vl['param'][2]['value']}</div>
                            </div>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
            {/if}
            <div class="item-details">
                {$data['item']['content']|raw}
            </div>
            <div class="flex-between item-copyright">
                <div class="copyright-txt">本文经授权发布，不代表鱼头网立场。如若转载请联系原作者</div>
                <ul class="flex-start flex-align-center scan user-share">
                    <li><a href="javascript:void(0);" class="b-img qq" data-type="qq">qq</a></li>
                    <li><a href="javascript:void(0);" class="b-img wechat" data-type="wechat">微信</a></li>
                    <li><a href="javascript:void(0);" class="b-img sina" data-type="sina">微博</a></li>
                    <li><a href="javascript:void(0);" class="b-img douban" data-type="douban">豆瓣</a></li>
                </ul>
            </div>
        </div>
        <div class="flex-center flex-align-center news-item-post">
            <a href="javascript:void(0);" class="flex-center" id="newsPraiseBtn" data-status="0"><i class="b-img"></i><span class="number">{$data['item']['praise_num']?:''}</span></a>
        </div>
        <div class="news-item-comment-post">
            <div class="flex-align-start h"><i></i><h3>参与评论</h3></div>
            <div class="comment-post-textarea">
                <textarea name="" id="commentTextBtn" cols="30" rows="10" placeholder="{$user_data['id']?'输入评论内容':'请登陆后参与评论'}"></textarea>
                <div class="flex-between flex-align-center textarea-end">
                    <div class="flex-start flex-align-center">
                        <span class="user-avatar"><img src="{$user_data['avatar']['50']?:'/static/www/images/user_avatar_50.png'}"></span>
                        {if $user_data['id']}
                        <span><a class="user-name">{$user_data['name']}</a></span>
                        {else /}
                        <span><a href="javascript:void(0);" id="commentLoginBtn">先登陆</a></span>
                        {/if}
                    </div>
                    <div class="submit"><a href="javascript:void(0);" id="commentSubmitBtn" data-status="0">发布评论</a></div>
                </div>
            </div>
        </div>
        <!--热门评论 start-->
        <!--<div class="news-item-comment" id="hotCommentListBox">-->
            <!--<div class="comment-tab">-->
                <!--<ul class="flex-start flex-align-stretch">-->
                    <!--<li class="flex-align-stretch"><a href="javascript:void(0);" class="flex-align-center">热门评论 <i></i></a></li>-->
                    <!--<li class="flex-align-stretch last"><a href="#new_comment" class="flex-align-center">最新评论</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--热门评论 end-->
        <!--最新评论 start-->
        <div class="news-item-comment" id="newsCommentListBox" {if $data['comment_new']['count'] == 0}style="display: none;"{/if}>
            <div class="comment-tab">
                <ul class="flex-start flex-align-stretch">
                    <li class="flex-align-stretch"><a href="javascript:void(0);" class="flex-align-center">最新评论 <i></i></a></li>
                    <li class="flex-align-stretch number"><a href="javascript:void(0);" class="flex-align-center">(<span class="comment-count">{$data['comment_new']['count']}</span>条评论)</a></li>
                </ul>
            </div>

            <div class="comment-list-box" id="commentListBox">
                {if $data['comment_new']['count'] == 0}
                <div class="comment-list-inline box-hide" style="display: none;">
                    <ul class="comment-list content-main">
                        <li class="content-list-inline">
                            <div class="flex-between comment-info">
                                <div class="flex-start flex-align-center comment-user">
                                    <span class="user-avatar"><img src="/static/www/images/user_avatar_50.png"></span>
                                    <span class="user-name"></span>
                                    <span class="to-day">刚刚</span>
                                </div>
                                <div class="flex-start comment-attr">
                                    <!--赞-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="" data-id="" data-status="0">
                                        <i class="b-img top"></i><span class="num"></span>
                                    </a>
                                    <!--踏-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-tread" data-user="" data-id="" data-status="0">
                                        <i class="b-img tread"></i><span class="num">0</span>
                                    </a>
                                    <!--更多 举报-->
                                    <a href="javascript:void(0);" class="flex-align-center inline">
                                        <i class="b-img more"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-content">
                            </div>
                            <a href="javascript:void(0);" class="box-hide comment-reply"
                               data-reply="" data-reply-user-id="" data-reply-name=""
                               data-parent="">回复</a>

                        </li>
                    </ul>
                    <!--评论的回复-->
                    <ul class="comment-list comment-reply-list" style="display: none;">
                        <li class="content-list-inline box-hide" style="display: none;">
                            <div class="flex-between comment-info">
                                <div class="flex-start flex-align-center comment-user">
                                    <span class="user-avatar"><img src="/static/www/images/user_avatar_50.png"></span>
                                    <span class="user-name main"></span>
                                    <span class="txt">回复</span>
                                    <span class="user-name reply-user-name"></span>
                                    <span class="to-day">刚刚</span>
                                </div>
                                <div class="flex-start comment-attr">
                                    <!--赞-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="" data-id="" data-status="0">
                                        <i class="b-img top"></i><span class="num"></span>
                                    </a>
                                    <!--踏-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-tread hide-btn" data-user="" data-id="" data-status="0">
                                        <i class="b-img tread"></i><span class="num"></span>
                                    </a>
                                    <!--更多 举报-->
                                    <a href="javascript:void(0);" class="flex-align-center inline hide-btn">
                                        <i class="b-img more"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-content">
                            </div>
                            <a href="javascript:void(0);" class="box-hide comment-reply"
                               data-reply="" data-reply-user-id="" data-reply-name=""
                               data-parent="">回复</a>
                        </li>
                    </ul>
                </div>
                {/if}

                {volist name="data['comment_new']['list']" id="value"}
                <div class="comment-list-inline">
                    <ul class="comment-list content-main">
                        <li class="content-list-inline">
                            <div class="flex-between comment-info">
                                <div class="flex-start flex-align-center comment-user">
                                    <span class="user-avatar"><img src="{$value['user_avatar']['50']?:'/static/www/images/user_avatar_50.png'}"></span>
                                    <span class="user-name">{$value['user_name']}</span>
                                    <span class="to-day">{:friendlyDate($value['date_time'])}</span>
                                </div>
                                <div class="flex-start comment-attr">
                                    <!--赞-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="{$value['user_id']}" data-id="{$value['id']}" data-status="0">
                                        <i class="b-img top"></i><span class="num">{$value['praise_num']?:''}</span>
                                    </a>
                                    <!--踏-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-tread" data-user="{$value['user_id']}" data-id="{$value['id']}" data-status="0">
                                        <i class="b-img tread"></i><span class="num">{$value['tread_num']?:''}</span>
                                    </a>
                                    <!--更多 举报-->
                                    <a href="javascript:void(0);" class="flex-align-center inline">
                                        <i class="b-img more"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-content">
                                {$value['content']|raw}
                            </div>
                            <a href="javascript:void(0);" class="box-hide comment-reply"
                               data-reply="{$value['id']}" data-reply-user-id="{$value['user_id']}" data-reply-name="{$value['user_name']}"
                               data-parent="{$value['id']}">回复</a>

                        </li>
                    </ul>
                    <!--评论的回复-->
                    <ul class="comment-list comment-reply-list" {if $value['comment_list']['count'] == 0 }style="display: none;"{/if}>
                        {if $value['comment_list']['count'] == 0 }
                        <li class="content-list-inline box-hide" style="display: none;">
                            <div class="flex-between comment-info">
                                <div class="flex-start flex-align-center comment-user">
                                    <span class="user-avatar"><img src="/static/www/images/user_avatar_50.png"></span>
                                    <span class="user-name main"></span>
                                    <span class="txt">回复</span>
                                    <span class="user-name reply-user-name"></span>
                                    <span class="to-day"></span>
                                </div>
                                <div class="flex-start comment-attr">
                                    <!--赞-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="" data-id="" data-status="0">
                                        <i class="b-img top"></i><span class="num"></span>
                                    </a>
                                    <!--踏-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-tread hide-btn" data-user="" data-id="" data-status="0">
                                        <i class="b-img tread"></i><span class="num"></span>
                                    </a>
                                    <!--更多 举报-->
                                    <a href="javascript:void(0);" class="flex-align-center inline hide-btn">
                                        <i class="b-img more"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-content">
                            </div>
                            <a href="javascript:void(0);" class="box-hide comment-reply"
                               data-reply="" data-reply-user-id="" data-reply-name=""
                               data-parent="">回复</a>
                        </li>
                        {/if}
                        {volist name="value['comment_list']['list']" id="reply"}
                        <li class="content-list-inline">
                            <div class="flex-between comment-info">
                                <div class="flex-start flex-align-center comment-user">
                                    <span class="user-avatar"><img src="{$reply['user_avatar']['50']?:'/static/www/images/user_avatar_50.png'}"></span>
                                    <span class="user-name main">{$reply['user_name']}</span>
                                    <span class="txt">回复</span>
                                    <span class="user-name reply-user-name">{$reply['reply_name']}</span>
                                    <span class="to-day">{:friendlyDate($reply['date_time'])}</span>
                                </div>
                                <div class="flex-start comment-attr">
                                    <!--赞-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-praise" data-user="{$reply['user_id']}" data-id="{$reply['id']}" data-status="0">
                                        <i class="b-img top"></i><span class="num">{$reply['praise_num']?:''}</span>
                                    </a>
                                    <!--踏-->
                                    <a href="javascript:void(0);" class="flex-align-center inline comment-tread hide-btn" data-user="{$reply['user_id']}" data-id="{$reply['id']}" data-status="0">
                                        <i class="b-img tread"></i><span class="num">{$reply['tread_num']?:''}</span>
                                    </a>
                                    <!--更多 举报-->
                                    <a href="javascript:void(0);" class="flex-align-center inline hide-btn">
                                        <i class="b-img more"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="comment-content">
                                {$reply['content']}
                            </div>
                            <a href="javascript:void(0);" class="box-hide comment-reply"
                               data-reply="{$reply['id']}" data-reply-user-id="{$reply['user_id']}" data-reply-name="{$reply['user_name']}"
                               data-parent="{$value['id']}">回复</a>
                        </li>
                        {/volist}
                    </ul>
                </div>
                {/volist}

            </div>
        </div>
        <!--最新评论 end-->

        <!--加载更多-->
        <div class="load-more" {if $data['comment_new']['count'] <= 15 }style="display: none;"{/if}>
            <!--加载动画-->
            <div class="box-hide loading">
                <img src="/static/www/images/loading-0.gif">
            </div>
            <a href="javascript:void(0);">点击加载评论</a>
        </div>
        <div style="height:150px;"></div>
    </div>
    <div class="index-right news-right">
        {include file="common/news_right" /}
        <div class="news-navigation">
            {if $data['related']['prev']}
            <div class="prev">
                <p class="h">上一篇：</p>
                <p class="title"><a href="{:urls('News/item')}?id={$data['related']['prev']['id']}">{$data['related']['prev']['title']}</a></p>
            </div>
            {/if}
            {if $data['related']['next']}
            <div class="next">
                <p class="h">下一篇：</p>
                <p class="title"><a href="{:urls('News/item')}?id={$data['related']['next']['id']}">{$data['related']['next']['title']}</a></p>
            </div>
            {/if}
        </div>
    </div>
</div>
