<div class="layui-fluid" id="LAY-article">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">规则列表</li>
                <li class="layui-form-ctrl" data-events="add">添加规则</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-form" action="" id="LAY-article-form-search">
                    <div style="margin-bottom: 10px;">
                        <div class="layui-input-inline" style="width: 200px;">
                            <select name="category_id" lay-verify="">
                                <option value="">规则分类</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="status" lay-verify="">
                                <option value="">全部</option>
                                <option value="1">已开启</option>
                                <option value="0">未开启</option>
                            </select>
                        </div>
                        <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="search">查询</button>
                    </div>
                    <table class="layui-table" id="LAY-table" lay-filter="LAY-list-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="list-table-toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    bodyD.use(['index', 'form', 'table', 'util', 'laydate'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            util = layui.util;

        //form.render();
        var tableOptions = {
            elem: '#LAY-table',
            url: window.location.href,
            where: {
                category_id: '',
                status: '',
                keyword: ''
            },
            cols: [
                    [{
                        checkbox: true
                    },
                    {
                        field: 'category_name',
                        title: '分类',
                        width: 200,

                    },
                    {
                        field: 'name',
                        title: '规则名称',
                        width: 200
                    },
                    {
                        field: 'url',
                        title: '采集地址',
                        minWidth: 330
                    },
                    {
                        field: 'status_txt',
                        title: '状态',
                        width: 80,
//                        templet: function (d) {
//                            return (d.status == '1' ?
//                                    '<span class="layui-badge layui-bg-green">开启</span> ' :
//                                    '<span class="layui-badge layui-bg-gray">关闭</span> ');
//                        }
                    },
                    {
                        field: 'create_time',
                        title: '加入时间',
                        width: 180
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 130,
                        align: 'center',
                        toolbar: '#list-table-toolbar'
                    }
                ]
            ],
            id: 'LayTable',
            page: true,
            limit: 15,
            limits: [15, 25, 35, 45, 55],
            height: 'full-155',
            done: function (res) {}
        };
        table.render(tableOptions);

        table.on("tool(LAY-list-table)", function (t) {
            //console.log(t);
            var obj = t;
            var data = obj.data;
            switch (obj.event)
            {
                case 'edit':
                    var oUrl = "{:Url('SpiderNewsRule/edit',['id'=>'__id__'])}";
                    oUrl = oUrl.replace('__id__', data.id);
                    layer.open({
                        type: 2,
                        title: '编辑规则',
                        content: oUrl,
                        maxmin: true,
                        area: ['720px', '500px'],
                        btn: ['确定', '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index],
                                submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit');
                            //监听提交
                            iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                                layer.load(2);
                                admin.req({
                                    url: oUrl,
                                    data: data.field,
                                    type: 'Post',
                                    done: function (res) {
                                        layer.closeAll('loading');
                                        if(res.code == 0){
                                            layer.close(index); //关闭弹层
                                            obj.update({
                                                status: (data.field.status=='1')?1:0,
                                                status_txt: (data.field.status == '1')?'<span class="layui-badge layui-bg-green">开启</span>':'<span class="layui-badge layui-bg-gray">关闭</span>',
                                                name: data.field.name,
                                                url: data.field.url
                                            });
                                            return ;
                                        }
                                        layer.msg(res.msg, {icon: 0});
                                    }
                                });
                            });
                            submit.trigger('click');
                        }
                    });
                    break;
                case 'del':
                    layer.confirm('确定删除选中的数据吗？',{icon: 3, title:false}, function (index) {
                        layer.load(2);
                        admin.req({
                            url: '{:Url("SpiderNewsRule/delete")}',
                            data: {
                                id: data.id
                            },
                            done: function (res) {
                                layer.closeAll('loading');
                                if(res.code == 0){
                                    obj.del();
                                    layer.close(index);
                                    return;
                                }
                                layer.msg(res.msg, {icon: 0});
                            }
                        });
                    });
                    break;
            }
        });

        //事件处理
        var events = {
            add: function (othis, id) {
                var oUrl = "{:Url('SpiderNewsRule/add')}";
                layer.open({
                    type: 2,
                    title: '添加规则',
                    content: oUrl,
                    maxmin: true,
                    area: ['720px', '600px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index],
                            submit = layero.find('iframe').contents().find('#layuiadmin-app-form-submit');
                        //监听提交
                        iframeWindow.layui.form.on('submit(layuiadmin-app-form-submit)', function (data) {
                            layer.load(2);
                            admin.req({
                                url: oUrl,
                                data: data.field,
                                type: 'Post',
                                done: function (res) {
                                    layer.closeAll('loading');
                                    if(res.code == 0){
                                        table.reload('LayTable',{page:1});
                                        layer.close(index); //关闭弹层
                                        return ;
                                    }
                                    layer.msg(res.msg, {icon: 0});
                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });

            },
        };

        $('.layui-tab-title .layui-form-ctrl').on('click', function() {
            var othis = $(this),
                thisEvent = othis.data('events');
            events[thisEvent] && events[thisEvent].call(this, othis);
        });

        form.on('submit(search)', function (data) {
            tableOptions.where = data.field;
            table.reload('LayTable', tableOptions);
            return false;
        });

    });
</script>
